::ng-deep .card-settings {
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);
    background-color: rgba(var(--bs-body-color-rgb), .05);
    color: var(--bs-body-color);
    padding: .75rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .accordion-settings .accordion-item {
    --bs-accordion-border-color: var(--bs-border-color-translucent);
}

::ng-deep .accordion-settings .accordion-body:not(:first-of-type) {
    border-top: var(--bs-border-width) solid var(--bs-border-color-translucent);
}

::ng-deep .accordion-settings .accordion-body:last-of-type {
    border-bottom-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    border-bottom-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
}

::ng-deep .accordion-settings .accordion-button {
    padding: .75rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .accordion-settings .accordion-body {
    padding: .75rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(var(--bs-body-color-rgb), .05);
}

::ng-deep .accordion-settings .accordion-button.collapsed {
    background-color: rgba(var(--bs-body-color-rgb), .05);
}

::ng-deep .card-settings > .settings-title,::ng-deep .accordion-settings .settings-title {
    display: flex;
    flex-wrap: wrap;
    flex: 1 !important;
}

::ng-deep .card-settings > .settings-title > .main-title,::ng-deep .accordion-settings .settings-title > .main-title {
    font-weight: normal !important;
    font-size: 1rem;
    line-height: var(--bs-body-line-height);
    width: 100%;
}

::ng-deep .card-settings > .settings-title > .description,::ng-deep .accordion-settings .settings-title > .description {
    font-weight: normal !important;
    font-size: .75rem;
    width: 100%;
    line-height: var(--bs-body-line-height);
}

::ng-deep .card-settings > .settings-option,::ng-deep .accordion-settings .settings-option {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: .5rem;
}

::ng-deep .font-size-display {
    text-align: right;
    font-size: 1rem !important;
    width: 4rem !important;
}

::ng-deep .card-settings > .settings-title *,::ng-deep .accordion-settings .settings-title * {
    margin-bottom: 0px !important;
}

::ng-deep .card-settings i, .card-settings svg,::ng-deep .accordion-settings i, .accordion-settings svg {
    margin-right: .75rem;
    width: 1rem;
    height: 1rem;
}

::ng-deep .btn-macclose {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
    width: .875rem;
    height: .875rem;
    background-color: var(--bs-btn-bg);
    border: var(--bs-border-width) solid var(--bs-btn-border-color);
    border-radius: 50%;
    transition: .1s ease-in-out;
    cursor: pointer;
}

::ng-deep .btn-macclose:hover {
    background-color: var(--bs-btn-hover-bg);
}

::ng-deep .btn-macclose:focus, .btn-macclose:active {
    background-color: var(--bs-btn-active-bg);
}

.toast.bg-blurred {
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius-xl);
    z-index: 999
}

.toast.full-screen {
    min-width: 90%;
    max-width: 700px;
    max-height: 90%;
    overflow-y: scroll;
}

@media (min-width: 576px) {
    .toast.full-screen {
        min-width: 80%;
    }
}

@media (min-width: 768px) {
    .toast.full-screen {
        min-width: 70%;
    }
}

@media (min-width: 992px) {
    .toast.full-screen {
        min-width: 60%;
    }
}

@media (min-width: 1200px) {
    .toast.full-screen {
        min-width: 50%;
    }
}

.toast.bg-blurred .toast-header {
    background-color: var(--bs-body-bg);
}

.shadow {
    background-color: rgba(var(--bs-body-bg-rgb), .1);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    z-index: 1;
    transition: .1s ease-in-out;
}

.settings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem
}

.settings-list > * {
    width: 100%;
    margin: 0;
}

.settings-list > h5:not(:first-of-type) {
    margin: .5rem 0 0 0;
}