::ng-deep .card-settings {
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);
    background-color: rgba(var(--bs-body-color-rgb), .05);
    color: var(--bs-body-color);
    padding: .75rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

::ng-deep .accordion-settings {
    margin-bottom: .5rem;
}

::ng-deep .accordion-settings .accordion-item {
    --bs-accordion-border-color: var(--bs-border-color-translucent);
}

::ng-deep .accordion-settings .accordion-body:not(:first-of-type) {
    border-top: var(--bs-border-width) solid var(--bs-border-color-translucent);
}

::ng-deep .accordion-settings .accordion-body:last-of-type {
    border-bottom-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    border-bottom-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
}

::ng-deep .accordion-settings .accordion-button {
    padding: .75rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .accordion-settings .accordion-body {
    padding: .75rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(var(--bs-body-color-rgb), .05);
}

::ng-deep .accordion-settings .accordion-button.collapsed {
    background-color: rgba(var(--bs-body-color-rgb), .05);
}

::ng-deep .card-settings > .settings-title,::ng-deep .accordion-settings .settings-title {
    display: flex;
    flex-wrap: wrap;
    flex: 1 !important;
}

::ng-deep .card-settings > .settings-title > .main-title,::ng-deep .accordion-settings .settings-title > .main-title {
    font-weight: normal !important;
    font-size: 1rem;
    line-height: var(--bs-body-line-height);
    width: 100%;
}

::ng-deep .card-settings > .settings-title > .description,::ng-deep .accordion-settings .settings-title > .description {
    font-weight: normal !important;
    font-size: .75rem;
    width: 100%;
    line-height: var(--bs-body-line-height);
}

::ng-deep .card-settings > .settings-option,::ng-deep .accordion-settings .settings-option {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: .5rem;
}

::ng-deep .font-size-display {
    font-size: 1rem !important;
}

::ng-deep .card-settings > .settings-title *,::ng-deep .accordion-settings .settings-title * {
    margin-bottom: 0px !important;
}

::ng-deep .card-settings i, .card-settings svg,::ng-deep .accordion-settings i, .accordion-settings svg {
    margin-right: .75rem;
    width: 1rem;
    height: 1rem;
}