<div class="row mt-2 g-2">
    <h3 class="col-12" translate="settings.settings"></h3>
    <div class="col-md-8 col-sm-12">
        <div class="settings-list">
            <h5 translate="settings.general"></h5>
            <div class="accordion accordion-settings" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button tabindex="0" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fa fa-palette"></i>
                            <div class="settings-title">
                                <span class="main-title" translate="settings.displaymode"></span>
                                <span class="description text-muted" translate="settings.displaymode-d"></span>
                            </div>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <i></i>
                            <div class="settings-title">
                                <span class="main-title" translate="settings.colortheme"></span>
                            </div>
                            <div class="settings-option">
                                <select tabindex="0" class="form-select" id="color-mode-select"
                                    (change)="colorPreferenceChange()" [(ngModel)]="colorPreference"
                                    aria-label="Color mode">
                                    <!-- sys settings causing coloring issues for axes table (ie when I switch to light mode the text dissapears)-->
                                    <!-- <option value="0" translate="settings.colors.sys-set"></option> -->
                                    <option value="1" translate="settings.colors.light"></option>
                                    <option value="2" translate="settings.colors.dark"></option>
                                </select>
                            </div>
                        </div>
                        <div class="accordion-body">
                            <i></i>
                            <div class="settings-title">
                                <span class="main-title" translate="settings.contrast"></span>
                            </div>
                            <div class="settings-option">
                                <select tabindex="0" class="form-select" id="color-mode-select"
                                    (change)="contrastChange()" [(ngModel)]="highContrast" aria-label="Color mode">
                                    <option value="1" translate="settings.contrasts.normal"></option>
                                    <option value="2" translate="settings.contrasts.high"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-settings">
                <i class="fa fa-text-height"></i>
                <div class="settings-title">
                    <span class="main-title" translate="settings.fontsize"></span>
                    <span class="description text-muted" translate="settings.fontsize-d"></span>
                </div>
                <div class="settings-option">
                    <input type="range" tabindex="0" class="form-range" min="-5" max="5" step="1" id="font-size-range"
                        aria-label="Font size" (change)="fontSizeChange()" [(ngModel)]="fontSize" />
                    <span class="font-size-display">{{((this.fontSize / 20 + 1) * 100).toFixed(0)}}%</span>
                </div>
            </div>
            <div class="card-settings">
                <i class="fa fa-language"></i>
                <div class="settings-title">
                    <span class="main-title" translate="settings.language"></span>
                    <span class="description text-muted" translate="settings.language-d"></span>
                </div>
                <div class="settings-option">
                    <select tabindex="0" class="form-select" (change)="defLanguageChanged()" [(ngModel)]="defLanguage"
                        aria-label="default language">
                        <option value="def">{{'settings.colors.sys-set' | translate}}</option>
                        <!-- <option value="en-us">English</option>
                        <option value="zh-cn">简体中文</option>
                        <option value="zh-hk">繁体中文</option>
                        <option value="ja-jp">日本語</option> -->
                        @for (item of t.langs; track item) {
                        <option [value]="item">{{ ('languages.' + item) | translate }}</option>
                        }
                    </select>
                </div>
            </div>
            <h5 translate="settings.data"></h5>
            <div class="card-settings">
                <i class="fa fa-chart-simple"></i>
                <div class="settings-title">
                    <span class="main-title" translate="settings.nonsig-data"></span>
                    <span class="description text-muted" translate="settings.nonsig-data-d"></span>
                </div>
                <div class="settings-option">
                    <div class="form-check form-switch form-check-reverse">
                        <input tabindex="0" class="form-check-input" type="checkbox" role="switch"
                            id="switchCheckChecked" [(ngModel)]="showNonsigCluster"
                            (change)="showNonsigClusterChange()">
                        <label class="form-check-label" for="switchCheckChecked">{{showNonsigCluster ? ('settings.show'
                            | translate) : ('settings.hide' | translate)}}</label>
                    </div>
                </div>
            </div>
            <div class="card-settings">
                <i class="fa fa-up-down"></i>
                <div class="settings-title">
                    <span class="main-title" translate="settings.yaxis"></span>
                    <span class="description text-muted" translate="settings.yaxis-d"></span>
                </div>
                <div class="settings-option">
                    <select tabindex="0" class="form-select" (change)="useYAxisChange()" [(ngModel)]="useYAxisType"
                        aria-label="Y-axis type">
                        <option value="0">-Log<sub>10</sub>({{'settings.adjpval' | translate}})</option>
                        <option value="1">{{'settings.adjpval' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="card-settings">
                <i class="fa fa-check"></i>
                <div class="settings-title">
                    <span class="main-title" translate="settings.fdrqval"></span>
                    <span class="description text-muted" translate="settings.fdrqval-d"></span>
                </div>
                <div class="settings-option">
                    <input tabindex="0" type="range" class="form-range" min="0.001" max="0.1" step="0.001"
                        [(ngModel)]="fdr_cutoff" (change)="fdrCutoffChanged()" />
                    <span class="font-size-display">{{fdr_cutoff}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-12">
        <!--Intentioned blank-->
    </div>
    <div class="col-md-3 col-sm-12">
        <h6>Mouse Cardiac Regeneration Database</h6>
        <p><small class="text-muted">{{Version}} ({{Branch}}.{{CompileDate}})</small></p>
        <div class="d-flex" style="gap: 1rem">
            <!--<small class="text-muted"><a href="javascript:void(0);" target="_blank"
                    (click)="showToastControl('citationToast');">Citation</a></small>-->
            <small class="text-muted"><a href="javascript:void(0);"
                    (click)="showToastControl('changelogToast');" translate="settings.changelog"></a></small>
            <small class="text-muted"><a href="javascript:void(0);"
                    (click)="showToastControl('licenseToast');" translate="settings.license"></a></small>
        </div>
    </div>
</div>