<footer class="text-left bg-body-tertiary mt-4">
    <!-- Grid container -->
    <div class="container">
        <section class="d-flex justify-content-center justify-content-between py-4 border-bottom">
            <!-- Section: Social media -->
            <div class="me-5 d-lg-block">
                <div class="row">
                    <p>Mouse Cardiac Regeneration Database</p>
                    <small class="text-muted">© 2025 <a href="https://dong.umn.edu/" target="_blank">The Dong Lab</a>,
                        <a href="https://med.umn.edu/aging" target="_blank">MIBAM</a>, University of Minnesota. All
                        rights reserved.</small>
                    <!--<div class="d-flex">
                        <small class="text-muted"><a href="javascript:void(0);" target="_blank"
                                (click)="showToastControl('citationToast');">Citation</a></small>
                        <small class="text-muted ms-2"><a href="javascript:void(0);" target="_blank"
                                (click)="showToastControl('changelogToast');">Changelog</a></small>
                        <small class="text-muted ms-2"><a href="javascript:void(0);" target="_blank"
                                (click)="showToastControl('licenseToast');">License</a></small>
                    </div>-->
                </div>
            </div>
            <div class="d-flex">
                <!-- Github -->
                <a class="btn btn-link btn-floating text-body btn-lg" target="_blank"
                    href="https://github.com/AnthonyShea/MouseHeartDatabase" role="button">
                    <i class="fab fa-github"></i>
                </a>
                <a class="btn btn-link btn-floating text-body btn-lg" target="_blank" href="mailto:author@example.com" role="button">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </section>
    </div>
    <!-- Copyright -->
</footer>

<!--<div class="toast-container position-fixed top-0 start-0 w-100 h-100">
    <div id="citationToast" class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed"
        role="alert" aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Citation</strong>
            <a type="button" (click)="hideToastControl('citationToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body">
            <input type="text" class="form-control" readonly value="Abcd, E., 2025, https://mcaredb.org/" />
        </div>
    </div>
    <div id="changelogToast" class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed flex-column"
        role="alert" aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Changelog</strong>
            <a type="button" (click)="hideToastControl('changelogToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body overflow-y-scroll d-flex flex-grow-1">
            <app-changelog></app-changelog>
        </div>
    </div>
    <div id="licenseToast" class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed"
        role="alert" aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">License</strong>
            <a type="button" (click)="hideToastControl('licenseToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body">
            <p>License here</p>
        </div>
    </div>
    <div id="shadow-bg" class="position-fixed shadow top-0 start-0 w-100 h-100"></div>
</div>-->