::ng-deep .btn-macclose {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
    width: .875rem;
    height: .875rem;
    background-color: var(--bs-btn-bg);
    border: var(--bs-border-width) solid var(--bs-btn-border-color);
    border-radius: 50%;
    transition: .1s ease-in-out;
    cursor: pointer;
}

::ng-deep .btn-macclose:hover {
    background-color: var(--bs-btn-hover-bg);
}

::ng-deep .btn-macclose:focus, .btn-macclose:active {
    background-color: var(--bs-btn-active-bg);
}

.toast.bg-blurred {
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius-xl);
    z-index: 999
}

.toast.full-screen {
    min-width: 90%;
    max-width: 700px;
    max-height: 90%;
    overflow-y: scroll;
}

@media (min-width: 576px) {
    .toast.full-screen {
        min-width: 80%;
    }
}

@media (min-width: 768px) {
    .toast.full-screen {
        min-width: 70%;
    }
}

@media (min-width: 992px) {
    .toast.full-screen {
        min-width: 60%;
    }
}

@media (min-width: 1200px) {
    .toast.full-screen {
        min-width: 50%;
    }
}

.toast.bg-blurred .toast-header {
    background-color: var(--bs-body-bg);
}

.shadow {
    background-color: rgba(var(--bs-body-bg-rgb), .1);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    z-index: 1;
    transition: .1s ease-in-out;
}