<footer class="text-left bg-body-tertiary mt-4">
    <!-- Grid container -->
    <div class="container">
        <section class="d-flex justify-content-center justify-content-between py-4 border-bottom">
            <!-- Section: Social media -->
            <div class="me-5 d-lg-block">
                <div class="row">
                    <p>Mouse Cardiac Regeneration Database</p>
                    <small class="text-muted">© 2025 <a href="https://dong.umn.edu/" target="_blank"
                            aria-label="The Dong Lab" tabindex="0">The Dong Lab</a>,
                        <a tabindex="0" href="https://med.umn.edu/aging" target="_blank" aria-label="MIBAM">MIBAM</a>,
                        University of Minnesota.
                        {{'footer.copyright' | translate}}</small>
                    <!--<div class="d-flex">
                        <small class="text-muted"><a href="javascript:void(0);" target="_blank"
                                (click)="showToastControl('citationToast');">Citation</a></small>
                        <small class="text-muted ms-2"><a href="javascript:void(0);" target="_blank"
                                (click)="showToastControl('changelogToast');">Changelog</a></small>
                        <small class="text-muted ms-2"><a href="javascript:void(0);" target="_blank"
                                (click)="showToastControl('licenseToast');">License</a></small>
                    </div>-->
                </div>
            </div>
            <div class="d-flex">
                <!-- Github -->
                <a tabindex="0" class="btn btn-link btn-floating text-body btn-lg" target="_blank"
                    href="https://github.com/AnthonyShea/MouseHeartDatabase" role="button" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a tabindex="0" class="btn btn-link btn-floating text-body btn-lg" target="_blank"
                    href="mailto:author@example.com" role="button" aria-label="Mail to the author">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </section>
    </div>
    <!-- Copyright -->
</footer>


<div class="toast-container position-fixed top-0 start-0 w-100 h-100">
    <div id="citationToast"
        class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed flex-column" role="alert"
        aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Citation</strong>
            <a type="button" (click)="hideToastControl('citationToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body overflow-y-scroll d-flex flex-grow-1">
            <input type="text" class="form-control" readonly value="Abcd, E., 2025, https://mcaredb.org/" />
        </div>
    </div>
    <div id="changelogToast"
        class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed flex-column" role="alert"
        aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" translate="footer.window.changelog.title"></strong>
            <a type="button" (click)="hideToastControl('changelogToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body overflow-y-scroll d-flex flex-grow-1">
            <app-changelog></app-changelog>
        </div>
    </div>
    <div id="licenseToast"
        class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed flex-column" role="alert"
        aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" translate="footer.window.license.title"></strong>
            <a type="button" (click)="hideToastControl('licenseToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body overflow-y-scroll d-flex flex-grow-1">
            <div class="d-flex flex-column">
                <p>MIT License</p>
                <p>Copyright (c) 2025 The Dong Lab, MIBAM, University of Minnesota</p>
                <p>Permission is hereby granted, free of charge, to any person obtaining a copy
                    of this software and associated documentation files (the "Software"), to deal
                    in the Software without restriction, including without limitation the rights
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                    copies of the Software, and to permit persons to whom the Software is
                    furnished to do so, subject to the following conditions:</p>
                <p>The above copyright notice and this permission notice shall be included in all
                    copies or substantial portions of the Software.</p>
                <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                    SOFTWARE.</p>
            </div>
        </div>
    </div>
    <div id="languageToast"
        class="toast full-screen bg-blurred top-50 start-50 translate-middle position-fixed flex-column" role="alert"
        aria-live="assertive" data-bs-autohide="false" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" translate="navbar.language.title"></strong>
            <a type="button" (click)="hideToastControl('languageToast');" data-bs-dismiss="toast" aria-label="Close"
                class="btn-macclose"></a>
        </div>
        <div class="toast-body overflow-y-scroll d-flex flex-grow-1">
            <div class="d-flex w-100 flex-column">
                <div class="row g-2">
                    @for (item of t.langs; track item) {
                    <div class="col">
                        <button class="btn w-100 h-100 text-decoration-none" [class.btn-outline-mcaredb]="t.currentLang != item" [disabled]="item !== 'en-us'"
                            [class.btn-mcaredb]="t.currentLang == item" [class.active]="t.currentLang == item" (click)="switch(item)">
                            <div class="card-body">
                                <h5 class="mb-0">{{('languages.' + item) | translate}}</h5>
                            </div>
                        </button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="shadow-bg" class="position-fixed shadow top-0 start-0 w-100 h-100"></div>
</div>