::ng-deep .dx-tabs .dx-tab-selected {
  background-color: #8E8D8A !important;
  border: 1px solid #686784 !important;
}

::ng-deep .dx-tabs .dx-tab-selected.dx-state-focused {
  background-color: #8E8D8A !important;
  box-shadow: 2px solid #686784 !important;
  color: #E0DCCC;
  font-weight: 700;
}

::ng-deep .dx-tab.dx-item {
  background-color: #D8C385;
  font-weight: 500;
  z-index: 2;
}

::ng-deep .dx-tab.dx-item:hover {
  background-color: #CEB464;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::ng-deep .dx-tabpanel.dx-state-focused .dx-multiview-wrapper {
  border-top: 1px solid #686784 !important;
  border-right: 1px solid #686784 !important;
  border-left: 1px solid #686784 !important;
}

::ng-deep .dx-tabpanel.dx-state-focused .dx-tab-selected:after {
  border-top: 1px solid #686784 !important;
  border-right: 1px solid #686784 !important;
  border-left: 1px solid #686784 !important;
}

::ng-deep .dx-tabs .dx-tab:first-child {
  font-family: 'RobotoCondensed-Bold';
  font-size: 20px;
}

:root {
  --bs-primary-rgb: #D8C385 !important;
  --bs-main-theme-rgb: 214, 51, 132;
}

.nav-link {
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .375rem;
  border: 1px solid transparent;
}

@media (min-width: 992px) {
  .bg-blurred {
    background-color: rgba(var(--bs-pink-rgb), 0.5);
    backdrop-filter: blur(30px) saturate(80%);
    --webkit-backdrop-filter: blur(30px) saturate(80%);
    box-shadow: var(--bs-box-shadow);
    margin: 0 .5rem;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    top: .5rem;
    border-radius: var(--bs-border-radius-lg);
  }
}

@media (max-width: 992px) {
  .bg-blurred {
    background-color: rgba(var(--bs-pink-rgb), 0.5);
    backdrop-filter: blur(30px) saturate(80%);
    --webkit-backdrop-filter: blur(30px) saturate(80%);
  }
}

@media (min-width: 992px) {
  .nav-link.active::after {
    display: flex;
    position: absolute;
    bottom: calc(0px - var(--bs-border-width));
    height: .25rem;
    content: ' ';
    background-color: var(--bs-body-color);
    width: 1rem;
    border-radius: .125rem;
    transition: .1s ease-in-out;
  }

  .nav-link.active:focus::after,
  .nav-link.active:active::after {
    display: flex;
    position: absolute;
    bottom: calc(0px - var(--bs-border-width));
    height: .25rem;
    content: ' ';
    background-color: var(--bs-body-color);
    width: .75rem;
    border-radius: .125rem;
  }

  ::ng-deep .btn-darkmode {
    box-shadow: var(--bs-box-shadow);
    border: 1px solid var(--bs-border-color-translucent) !important;
    background-color: rgba(var(--bs-pink-rgb), 0.5);
    transition: .1s ease-in-out;
  }


  ::ng-deep .btn-darkmode:hover {
    background-color: rgba(var(--bs-pink-rgb), 0.6);
  }

  .btn-darkmode:active {
    background-color: rgba(var(--bs-pink-rgb), 0.7);
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }

  ::ng-deep .nav-link i,
  .nav-link svg {
    margin-right: .25rem;
  }
}

@media (max-width: 992px) {
  .nav-link.active::before {
    display: flex;
    position: absolute;
    left: calc(0px - var(--bs-border-width));
    width: .25rem;
    content: ' ';
    background-color: var(--bs-body-color);
    height: 1rem;
    border-radius: .125rem;
    transition: .1s ease-in-out;
  }

  .nav-link.active:focus::before,
  .nav-link.active:active::before {
    display: flex;
    position: absolute;
    left: calc(0px - var(--bs-border-width));
    width: .25rem;
    content: ' ';
    background-color: var(--bs-body-color);
    height: .75rem;
    border-radius: .125rem;
  }

  ::ng-deep .btn-darkmode,
  .nav-link.active {
    box-shadow: var(--bs-box-shadow);
    border: 1px solid var(--bs-border-color-translucent) !important;
    background-color: rgba(var(--bs-pink-rgb), 0.5);
    transition: .1s ease-in-out;
  }

  ::ng-deep .btn-darkmode:hover,
  .nav-link.active:hover {
    background-color: rgba(var(--bs-pink-rgb), 0.6);
  }

  ::ng-deep .btn-darkmode:active,
  .nav-link.active:active {
    background-color: rgba(var(--bs-pink-rgb), 0.7);
  }

  ::ng-deep .nav-link {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  ::ng-deep .nav-link i,
  .nav-link svg {
    margin-right: .5rem;
  }
}