<!--<dx-tabs
class="navbar"
#apiTabs
[dataSource]="tabs"
animationEnabled="true"
selectionMode="single"
(onItemClick)="selectTab($event)"
[routerLink]="selected_path">
</dx-tabs>-->
<nav class="navbar sticky-top navbar-expand-lg bg-blurred" #navbarTop>
  <div class="container">
    <!--<a class="navbar-brand" href="javascript:void(0)" (click)="selectTab(0)">MCareDB</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        @for (tab of tabs; track tab; let i = $index) {
        <li class="nav-item">
          <a tabindex="0" class="nav-link" [class.active]="selected_path === tab.path" (click)="selectTab(i)"
            [style.color]="tab.color" href="javascript:void(0);" [ariaLabel]="tab.text">
            <i class="fa {{tab.icon}}"></i>
            {{ tab.text | translate }}
          </a>
        </li>
        }
      </ul>
      <div class="d-flex align-items-center gap-2">
        <a tabindex="0" class="btn btn-link text-decoration-none text-body navbar-btn" (click)="showToastControl('languageToast')" aria-label="Language"><i class="fa fa-language"></i></a>
        <a tabindex="0" class="btn btn-link text-decoration-none text-body navbar-btn" (click)="onDarkModeSwitchClick()" aria-label="Language"><i class="fa fa-circle-half-stroke"></i></a>
      </div>
    </div>
  </div>
</nav>