<div *ngIf="loading" class="loading-overlay" id="loadingOverlay">
  <!--<div class="loading-message">Loading...</div>-->
  <div class="spinner-blurred">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
  </div>
</div>
<div class="row mt-2 g-2">
  <div class="col-md-3 col-sm-12 ">
    <div class="sidebar-sticky-top" [ngStyle]="{ top: 'var(--navbar-height)' }">
      <h4>Comparison Type</h4>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedComparisonType">
        <option *ngFor="let item of comparisonTypes" [value]="item.value">{{item.text}}</option>
      </select>
      <!--<hr />
    <h4>Tissues</h4>
    <dx-tag-box [items]="tissue_types" [searchEnabled]="true" [hideSelectedItems]="true" placeholder="Select Tissues"
      [showMultiTagOnly]="false" [maxDisplayedTags]="4" [showClearButton]="true" style="width: 100%; flex: 1;"
      [showSelectionControls]="true" [(value)]='selected_tissues'></dx-tag-box>-->
      <hr />
      <!--CELL TYPE SELECT BOX-->
      <h4>Cell Types</h4>
      <dx-tag-box [items]="cell_types" [searchEnabled]="true" placeholder="Select Cell Types" [showMultiTagOnly]="false"
        [maxDisplayedTags]="4" [showClearButton]="true" style="width: 100%; flex: 1;" [showSelectionControls]="true"
        [(value)]='selected_cell_types'></dx-tag-box>
      <hr />
      <h4>Pathways</h4>
      <div class="d-inline-flex">
        <dx-autocomplete [dataSource]="pathways" [(value)]="selected_pathway" [minSearchLength]="1" searchEnabled="true"
          [searchMode]="selected_search_mode" [maxItemCount]="200" [showDropDownButton]="true"></dx-autocomplete>
        <a tabindex="0" id="pathway_btn" *ngIf="pathway_info != '' && pathway_info != null" data-bs-trigger="focus"
          class="btn btn-link btn-floating text-body" role="button" data-bs-toggle="popover"
          [attr.data-bs-title]="pathway_info?.name" [attr.data-bs-content]="pathway_info?.definition.text"><i
            class="fa fa-info-circle"></i></a>
      </div>
      <h6 class="mt-2">Search mode</h6>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="selected_search_mode">
        <option *ngFor="let item of search_modes" [value]="item.value">{{item.text}}</option>
      </select>
      <hr />
      <button (click)="getNewData()" class="btn btn-mcaredb w-100">
        <i class="fa fa-magnifying-glass"></i> GO Results
      </button>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <apx-chart [series]="go_chart_options.series!" [chart]="go_chart_options.chart!" [xaxis]="go_chart_options.xaxis!"
      [yaxis]="go_chart_options.yaxis!" [markers]="go_chart_options.markers!"
      [annotations]="go_chart_options.annotations!" [tooltip]="go_chart_options.tooltip!"
      style="margin-bottom: 1000px;">
    </apx-chart>
    <div *ngIf="!term_selected&&!loading" class="mt-3">
      <p class="text-center text-muted">Select Cluster To See Details</p>
    </div>
    <div class="row g-2 mt-3" *ngIf="term_selected">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center">
            <h4 class="mb-0">Selected Cluster</h4>
          </div>
          <div class="card-body position-relative">
            <div class="row">
              <div class="col-6">
                <small class="text-muted">Cluster</small>
                <h5>{{selected_term.cell_type}}</h5>
                <hr />
                <div class="row">
                  <div class="col-6">
                    <small class="text-muted">NES</small>
                    <h5>{{selected_term.nes}}</h5>
                  </div>
                  <div class="col-6">
                    <small class="text-muted">P-Value</small>
                    <h5>{{selected_term.P_Value < 0.0001 ? '&lt;0.0001' : selected_term.P_Value.toFixed(4)}}</h5>
                  </div>
                </div>
                <hr />
                <small class="text-muted">PMID</small>
                <h5>{{selected_term.pmid}}</h5>
              </div>
              <div class="position-absolute top-0 end-0 bottom-0
                  overflow-auto  list-group list-group-flush" style="width: 50%;">
                <h6 class="text-center"><br />Genes enriched</h6>
                <button type="button" class="list-group-item list-group-item-action"
                  *ngFor="let item of selected_core_enrichment" (click)="geneRerout(item)">
                  {{item}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--<apx-chart [series]="hist_chart_options.series!" [chart]="hist_chart_options.chart!"
      [stroke]="hist_chart_options.stroke!" [yaxis]="hist_chart_options.yaxis!" [xaxis]="hist_chart_options.xaxis!"
      [dataLabels]="hist_chart_options.dataLabels!" [tooltip]="hist_chart_options.tooltip!"
      [annotations]="hist_chart_options.annotations!" [colors]="hist_chart_options.colors!"
      style="margin-top: 10px;"></apx-chart>
    <div *ngIf="pathway_info != '' && pathway_info != null" class="card mt-3">
      <div class="card-header">
        <h5 class="text-center">{{pathway_info.name}}</h5>
      </div>
      <div class="card-body">
        <p>{{pathway_info.definition.text}}</p>
      </div>
    </div>-->
  </div>

  <div class="col-md-3 col-sm-12 scroll-lg">
    <div class="row g-2">
      <div class="col-12" *ngIf="!loading">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0"><i class="fa fa-arrow-up"></i> Upregulated</h4>
          </div>
          <ul class="list-group list-group-flush" style="max-height: 300px; overflow-y: auto;">
            <li *ngFor="let item of upreg_gene_counts"
              class="list-group-item gene-regulated d-flex justify-content-between"
              [ngStyle]="getColorStyle(item, 'DOWN')">
              <span>{{ item.gene }}</span>
              <span>{{ item.count }}</span>
            </li>
          </ul>
          <!--<dx-list [dataSource]="selected_core_enrichment" (onItemClick)="geneRerout($event)" class="gene-list">
          </dx-list>-->
        </div>
      </div>
      <div class="col-12" *ngIf="!loading">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0"><i class="fa fa-arrow-down"></i> Downregulated</h4>
          </div>
          <ul class="list-group list-group-flush" style="max-height: 300px; overflow-y: auto;">
            <li *ngFor="let item of downreg_gene_counts"
              class="list-group-item gene-regulated d-flex justify-content-between"
              [ngStyle]="getColorStyle(item, 'DOWN')">
              <span>{{ item.gene }}</span>
              <span>{{ item.count }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>