.content-wrapper {
    position: relative;
    /* Establishes a reference point for absolute positioning */
    /* Ensure this container takes up the full viewport height if needed */
    min-height: 100vh;
}

/* Example CSS for the container if needed */
.container {
    position: relative;
    /* Ensure this doesn't affect the overlay */
}


.loading-overlay {
    position: fixed;
    /* Positioned relative to the parent component */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bs-body-bg-rgb), .5);
    /* Semi-transparent background */
    display: flex;
    /* Center the loading message */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure it covers all content within the parent component */
}

.loading-overlay>.spinner-blurred {
    background: rgba(var(--bs-body-color-rgb), .2);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 10000;
    border-radius: var(--bs-border-radius-xl);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    box-shadow: var(--bs-box-shadow);
}

.gene-regulated {
    background: transparent;
}

.gene-regulated>span {
    filter: var(--bs-canvas-filter);
}

/* Define pulsing animation */
@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Loading message style */
.loading-message {
    color: #fff;
    /* White text */
    font-size: 2em;
    /* Larger text */
    font-weight: bold;
    animation: pulse 1.5s infinite;
    /* Apply the pulsing animation */
}


.container {
    display: flex;
    height: 100vh;
    /* Full viewport height */
    width: 100%;

}

.center-panel {
    flex: 2;
    /* Take up twice the space compared to the side panels */
    max-width: 50%;
    /* Restrict width to 50% of the container */

}

.side-panel {
    /*width: 25%; /* Make sure it only takes up 25% of the width */
    display: flex;
    /* Use Flexbox to arrange child elements horizontally */
    flex-direction: row;
    /* Arrange children in a row */
    padding: 10px;
    /* Optional: Add padding to the side-panel */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */

}

.side-panel.left {
    width: 25%;
    /* Ensure it takes up only a specific width */
    padding: 10px;
    box-sizing: border-box;
    /* Include padding in the width/height calculations */
    height: 100vh;
    /* Make sure it takes full viewport height or specific height */
    overflow: hidden;
    /* Hide overflow to prevent content from spilling out */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}


.termDetails {
    padding: 10px;
}

.pathwayDetail {
    padding: 10px;
    border-left: 1px solid #ccc;
    /* Add a border between panels */
}

.pathway-name {
    font-size: 25px;
}

.pathway-description {
    font-style: italic;
}

/* Optional: Remove border from the last panel */
.side-panel.right {
    border-left: none;
    /* Remove border on the right side panel */
}

.list-container {
    flex: 1;
    /* Each list container takes up equal space */
    margin-right: 10px;
    /* Add spacing between the lists */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* Hide any overflowed content */

}

.selected-list-container {
    overflow: hidden;
    /* Allow scrolling if content exceeds container size */
    height: 100%;
    /* Adjust height based on your needs */
    max-width: 100%;
    /* Ensure it does not exceed the parent's width */
    box-sizing: border-box;
    /* Include padding and border in the 
}

.list-container:last-child {
    margin-right: 0; /* Remove margin from the last list container */
}

.gene-list {
    text-align: center;
    /* Center the text */
    font-weight: bold;
    /* Make the text bold */
    height: 100%;

}

.noTermSelected {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    height: 100%;
    /* Make sure it takes the full height of the parent container */
    text-align: center;
    /* Center the text itself */
    font-size: 3em;
    /* Optional: Increase the font size for better visibility */
}

.pathway-info {
    display: flex;
    flex-direction: column;
    /* Stack the text vertically */
    align-items: center;
    /* Horizontally center the text */
    text-align: center;
    /* Center the text itself */
    font-size: 1.2em;
    /* Optional: Increase font size for better visibility */
}

.dx-field {
    display: flex;
    align-items: center;
    width: 80%;
}

.dx-field-label {
    color: #8E8D8A;
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    width: 30%;
}

.dx-field-value {
    float: left;
    flex: 1;
}

::ng-deep .dx-button-text {
    font-weight: bold;
    color: #E98074;
}

.button-container {
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically (if needed) */
    margin-top: 20px;
    /* Optional: Add margin for spacing */
}

.searchbutton {
    display: flex;
    /* Use flexbox for alignment */
    justify-content: center;
    /* Center text horizontally */
    align-items: center;
    /* Center text vertically */
    text-align: center;
    /* Center text within the button */
    width: 25%;
    margin: 2px auto;
    min-height: 35px;
    background-color: #D8C385;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
    padding: 0 10px;
    /* Add horizontal padding if needed */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
}


.centered-heading {
    text-align: center;
    /* Center align the text */
    text-decoration: underline;
    /* Underline the text */
}

.arrow-box {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* Semi-transparent black background */
    color: #fff !important;
    /* White text color */
    padding: 10px !important;
    /* Padding inside the tooltip */
    border-radius: 4px !important;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) !important;
    /* Optional: shadow for better visibility */
    font-size: 14px !important;
    /* Font size */
}


.field-container {
    display: flex;
    /* Use flexbox to arrange child elements horizontally */
    align-items: center;
    /* Vertically align items in the center */
}

.autocomplete-container {
    width: 100%;
    /* Make sure the autocomplete takes up full width of its container */
}

.search-mode-select-box {
    width: 15%;
    /* Set a fixed width for the select box */
    margin-left: 10px;
}

.cluster-info {
    display: block;
    font-size: 18px;
}

.input-group-text.emphasize {
    background: var(--bs-warning);

}

.dx-texteditor.dx-editor-outlined {
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    color: var(--bs-body-color);
    border-radius: var(--bs-border-radius);
}

.dx-texteditor * {
    color: var(--bs-body-color) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


@media (min-width: 768px) {
    .sidebar-sticky-top {
        position: sticky;
        top: 0;
    }
}


::ng-deep .ng-select-container {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    padding: .375rem .75rem !important;
    border-radius: var(--bs-border-radius) !important;
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    display: block;
    width: 100%;
}

::ng-deep .ng-input>input {
    color: var(--bs-body-color) !important;
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
}

::ng-deep .ng-select-container .ng-value-container {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
}

::ng-deep .ng-arrow-wrapper,
::ng-deep .ng-clear {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

::ng-deep .ng-clear-wrapper {
    width: 1rem !important;
    height: 1rem !important;
    background-color: var(--bs-danger) !important;
    border-radius: 50% !important;
    right: 0px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

::ng-deep .ng-clear-wrapper::after {
    content: "";
    display: flex;
    width: .5rem;
    height: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 460.775 460.775' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

::ng-deep .ng-dropdown-panel .scroll-host {
    border-radius: var(--bs-border-radius) !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
    box-shadow: var(--bs-shadow-box) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .ng-dropdown-panel.ng-select-bottom {
    border: none !important;
    background-color: transparent !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: transparent !important;
    color: var(--bs-body-color) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:first-child {
    border-top-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
    border-top-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child {
    border-bottom-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
    border-bottom-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: rgba(var(--bs-body-color-rgb), .1) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:focus,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:active {
    background-color: rgba(var(--bs-body-color-rgb), .2) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option * {
    cursor: pointer !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-bottom: 0px !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-top: 0px !important;
    margin-right: .25rem !important;
    background-color: rgba(var(--bs-body-color-rgb), .2) !important;
    font-size: 0.9rem !important;
    padding: .05rem !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
    border-radius: var(--bs-border-radius) !important;
    color: var(--bs-body-color) !important;
    display: flex !important;
    align-items: center;
}

::ng-deep .ng-select-focused>div.ng-select-container {
    border-color: rgb(187, 45, 116) !important;
    outline: 0px !important;
    box-shadow: rgba(219, 119, 169, 0.592) 0px 0px 0px 0.25rem !important;

}

::ng-deep .ng-select .ng-placeholder {
    color: darkgray !important;
    font-size: 1rem !important;
    padding: 0px !important;
    margin-left: 0 !important
}

::ng-deep .ng-select.ng-select-multiple .ng-placeholder {
    margin-top: -0.75rem !important;
}

::ng-deep .ng-select.ng-select-single .ng-placeholder {
    margin-top: 0 !important;
}

::ng-deep .ng-select-container label {
    text-overflow: ellipsis !important;
}

::ng-deep .ng-select-single .ng-value-label {
    font-size: 1rem !important;
    padding: 0px !important;
    margin-left: 0 !important;
    color: var(--bs-body-color) !important;
}

/*::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: unset !important;
    margin-top: 0px !important;
}*/

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    margin-top: 0px !important;
}

::ng-deep .ng-select * {
    color: var(--bs-body-color) !important;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: unset !important
}

::ng-deep .ng-dropdown-panel {
    background-color: transparent !important;
}

::ng-deep .apexcharts-disable-transitions.apexcharts-canvas *, ::ng-deep .apexcharts-disable-transitions .apexcharts-tooltip {
  transition: all .15s ease-in-out !important;
}