<div class="row g-2">
  <h2 translate="navbar.documentation"></h2>
  <!-- Terminology Section -->
  <section>
    <h4 translate="documentation.exp_term"></h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th translate="documentation.term"></th>
            <th translate="documentation.def"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>P1</strong></td>
            <td translate="documentation.P1.def"></td>
          </tr>
          <tr>
            <td><strong>P2</strong></td>
            <td translate="documentation.P2.def"></td>
          </tr>
          <tr>
            <td><strong>P8</strong></td>
            <td translate="documentation.P8.def"></td>
          </tr>
          <tr>
            <td><strong>Sham</strong></td>
            <td translate="documentation.sham.def"></td>
          </tr>
          <tr>
            <td><strong>MI</strong></td>
            <td translate="documentation.mi.def"></td>
          </tr>
          <tr>
            <td><strong>PSD#</strong></td>
            <td translate="documentation.psdx.def"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h4 translate="documentation.stat_term"></h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th translate="documentation.case"></th>
            <th translate="documentation.meaning"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>P1 vs P8</strong></td>
            <td translate="documentation.p1vsp8.def"></td>
          </tr>
          <tr>
            <td><strong>MI vs Sham</strong></td>
            <td translate="documentation.shamvsmi.def"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!--  Add: Definition of Comparisons (P1 vs P8 / MI vs Sham)    Also double check all markers below for newly added cell types -->
  <!--  Also look for file with full list, I have CM subtypes but cant find all markers -->


  <!-- Cell Type Definitions -->
  <section>
    <h4 translate="documentation.cell_def"></h4>
    <p>
      <span translate="documentation.cell_defs.description"></span>
      <a href="../../../assets/mouseHeart_new.csv" target="_blank">mouseHeart_new.csv</a>
    </p>
    <div ngbAccordion>
      @for (item of cellTypes; track item; let i = $index) {
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            {{item.name | translate}}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <div class="row">
              <small class="text-muted" translate="documentation.cell_defs.def"></small>
              <h6 class="fw-normal">{{item.def | translate}}</h6>
              <small class="text-muted" translate="documentation.cell_defs.marker"></small>
              <h6 class="fw-normal d-flex gap-2 flex-wrap">
                @for (gene of translateService.instant(item.marker || 'Undefined').split(","); track gene) {
                <a href="javascript:void(0)" class="text-decoration-none"
                  (click)="gene == 'Undefined' ? '' : geneRerout(gene?.trim())">{{gene?.trim()}}</a>
                }
              </h6>
              @if (item.subsets.length > 0) {
              <ul class="list-group list-group-flush">
                @for (subitem of item.subsets; track subitem; let j = $index) {
                <li class="list-group-item">
                  <div class="row">
                    <h5>{{subitem.name | translate}}</h5>
                    <small class="text-muted" translate="documentation.cell_defs.def"></small>
                    <h6 class="fw-normal">{{subitem.def | translate}}</h6>
                    <small class="text-muted" translate="documentation.cell_defs.marker"></small>
                    <h6 class="fw-normal d-flex gap-2 flex-wrap">
                      @for (gene of translateService.instant(subitem.marker || 'Undefined').split(","); track gene) {
                      <a href="javascript:void(0)" class="text-decoration-none"
                        (click)="gene == 'Undefined' ? '' : geneRerout(gene?.trim())">{{gene?.trim()}}</a>
                      }
                    </h6>
                  </div>
                </li>
                }
              </ul>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</div>