<div class="maps row g-2 p-1">
  <div class="col-xl-3 col-lg-4 col-md-12">
    <h5 class="text-center">{{selected_info.cell_type}}</h5>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [class.active]="display=='UMAP'" (click)="onItemSelected_Nav('UMAP')">UMAP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="display=='TSNE'" (click)="onItemSelected_Nav('TSNE')">TSNE</a>
      </li>
      <!--<li class="nav-item">
      <a class="nav-link" [class.active]="display == 'Model Visualization'"
      (click)="onItemSelected_Nav('Model Visualization')">Model Visualization</a>
    </li>-->
      <li class="nav-item">
        <a class="nav-link" [class.active]="display == 'Meta Info'" (click)="onItemSelected_Nav('Meta Info')">Meta
          Info</a>
      </li>
    </ul>
  </div>
  <div class="col-xl-9 col-lg-8 col-md-12">
    <div class="row g-2">
      <div class="text-center col-12">
        @if (display=='UMAP') {
        <img class="image img-fluid" id="myimage" [src]='this.umap' />
        }
      </div>
      <div class="text-center col-12">
        @if (display === 'TSNE' && this.tsne !== null) {
        <img class="image img-fluid" id="myimage" [src]="this.tsne" />
        }
      </div>

      @if (display === 'tsne' && this.tsne === null) {
      <div id="myimage" class="col-12">
        <p class="text-muted text-center">
          TSNE not available for this study
        </p>
      </div>
      }
      @if (display=='Meta Info') {
      <div class='col-md-6 col-sm-12'>
        <h4>Study Information</h4>
        <div class="row">
          <div class="col-12">
            <h5>
              <a href="https://pubmed.ncbi.nlm.nih.gov/{{selected_info.pmid}}/" target="_blank">{{title}}</a>
            </h5>
          </div>
          <div class="col-12">
            <span>First Author</span>
            <h5>{{author}}</h5>
          </div>
          <div class="col-12">
            <span>Year Published</span>
            <h5>{{year}}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Cluster Information</h4>
        <div class="row">
          <div class="col-12">
            <span>Other Possible Cell Types</span>
            <h5>{{ selected_info.cell_type2 }}</h5>
            <h5>{{ selected_info.cell_type3 }}</h5>
          </div>
          <div class="col-12">
            <span>-Log<sub>10</sub>(Adjusted P-Value)</span>
            <h4>{{selected_info.pvalue.toExponential(2)}}</h4>
          </div>
          <div class="col-12">
            <span>% Change</span>
            <h4 [ngClass]="{'text-danger': decade_change < 0, 'text-success': decade_change >= 0}">
              @if (decade_change < 0) {
                <span>
                  <i class="fa fa-arrow-down"></i>
                </span>
              }
              @if (decade_change > 0) {
                <span>
                  <i class="fa fa-arrow-up"></i>
                </span>
              }
              {{ decade_change + '%' }}
            </h4>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<!--<div class="map-box card">
<div class="card-header">
  <div class="row g-2">
    <div class="d-flex justify-content-center">
      <dx-button-group [items]="maps" stylingMode="outlined" [selectedItemKeys]="['UMAP']"
      (onItemClick)="onItemSelected($event)"></dx-button-group>
    </div>
    <h3 class="text-center">{{selected_info.cell_type}}</h3>
  </div>
</div>
<div class="card-body">


</div>
<div class="card-footer">
  <div class="selected-cell-display">
    <h3 class="text-center"></h3>
  </div>
</div>
</div>-->