.buttongroups-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
}

.map-box {
  /* background: linear-gradient(to bottom, #FFFFFF, #F0F0F0); */
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  display: block;
}

.map-box .card-footer {
  display: block !important;
  width: 100%;
  text-align: center;
}

.selected-cell-display {
  display: block !important;
  text-align: center;
  margin-top: 10px;
}


.map-box>* {
  display: flex;
  justify-content: center;
}

.buttongroups-container:first-child {
  margin-top: 120px;
  margin-bottom: 40px;
}

.multiple-selection-styling-mode {
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #ddd;
}

.study-meta {
  text-align: center;
}

.scalawag-meta {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flex-child {
  flex-basis: 48%;
  text-align: center;
  /* Center the text within flex-child */
}

.flex-child b {
  text-align: center;
  /* Center the text inside the b tag */
}

.flex-child2 {
  flex-basis: 100%;
}

.pval-label {
  text-align: center;
  /* Center the text within the label */
}

.pval-value {
  font-size: 40px;
}

.lfc-label {
  text-align: center;
  /* Center the text within the label */
}

.lfc-value {
  font-size: 40px;
}

.negative-value {
  color: lightcoral;
}

.positive-value {
  color: forestgreen;
}

.memo {
  font-size: medium;
  font-Family: 'RobotoCondensed';
  text-align: center;
  display: inline-block;
}

.dx-texteditor.dx-editor-outlined {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

::ng-deep .dx-button-text {
  font-size: var(--bs-body-font-size);
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  color: var(--bs-body-color);
  transition: .2s ease-in-out;
  background: transparent;
}

::ng-deep .dx-buttongroup-item {
  background-color: transparent !important;
  border: 0px !important;
}

::ng-deep .dx-button-content {
  position: relative !important;
}

::ng-deep .dx-button-content {
  display: flex !important;
  justify-content: center !important;
}

::ng-deep .dx-buttongroup-item.dx-item-selected .dx-button-content::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 1rem;
  height: .25rem;
  background-color: var(--bs-pink);
  border-radius: .125rem;
}

::ng-deep .dx-item-selected .dx-button-text {
  color: var(--bs-body-color) !important;
}


::ng-deep .dx-button-mode-contained.dx-buttongroup-first-item.dx-button,
.dx-button-mode-contained.dx-buttongroup-first-item.dx-state-hover .dx-button-content,
.dx-button-mode-outlined.dx-buttongroup-first-item.dx-button,
.dx-button-mode-outlined.dx-buttongroup-first-item.dx-state-hover .dx-button-content {
  border-top-left-radius: .375rem !important;
  border-bottom-left-radius: .375rem !important;
}

::ng-deep .dx-button-mode-contained.dx-buttongroup-last-item.dx-button,
.dx-button-mode-contained.dx-buttongroup-last-item.dx-state-hover .dx-button-content,
.dx-button-mode-outlined.dx-buttongroup-last-item.dx-button,
.dx-button-mode-outlined.dx-buttongroup-last-item.dx-state-hover .dx-button-content {
  border-top-right-radius: .375rem !important;
  border-bottom-right-radius: .375rem !important;
}

@media (min-width: 992px) {
  .maps .nav-link.active::before {
    display: flex;
    position: absolute;
    left: calc(0px - var(--bs-border-width));
    width: .25rem;
    content: ' ';
    background-color: var(--bs-pink);
    height: 1rem;
    border-radius: .125rem;
    transition: .1s ease-in-out;
  }

  ::ng-deep .maps .nav-link.active:focus::before, ::ng-deep .nav-link.active:active::before {
    display: flex;
    position: absolute;
    left: calc(0px - var(--bs-border-width));
    width: .25rem;
    content: ' ';
    background-color: var(--bs-pink);
    height: .75rem;
    border-radius: .125rem;
  }

  .maps .nav-link {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: .5rem;
    padding-right: .5rem;
    border: var(--bs-border-width) solid transparent;
    border-radius: var(--bs-border-radius);
  }
  .maps .nav-link.active {
    box-shadow: var(--bs-box-shadow);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
    background-color: rgba(var(--bs-pink-rgb), 0.2);
    transition: .1s ease-in-out;
  }
}

@media (max-width: 992px) {

  .maps .nav-link.active::after {
    display: flex;
    position: absolute;
    bottom: calc(0px - var(--bs-border-width));
    height: .25rem;
    content: ' ';
    background-color: var(--bs-body-color);
    width: 1rem;
    border-radius: .125rem;
    transition: .1s ease-in-out;
  }

  .maps .nav-link.active:focus::after,
  .maps .nav-link.active:active::after {
    display: flex;
    position: absolute;
    bottom: calc(0px - var(--bs-border-width));
    height: .25rem;
    content: ' ';
    background-color: var(--bs-body-color);
    width: .75rem;
    border-radius: .125rem;
  }

  .maps .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: .5rem;
    cursor: pointer;
    padding-right: .5rem;
    border: var(--bs-border-width) solid transparent;
    border-radius: var(--bs-border-radius);
  }

  .maps .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
}