<div class="container">
  <!-- Main Header -->
  <div class="row mt-2 g-2">
    <!-- Key Comparative Insight -->
    <div class="col-12">
      <h1 class="mcaredb-title text-center"><b>M</b>ouse <b>CA</b>rdiac
        <b>RE</b>generation <b>D</b>ata<b>B</b>ase
      </h1>
      <!--<h3 class="text-center" i18n>Exploring Cardiac Regeneration Through Developmental Transcriptomics</h3>-->
      <h3 class="text-center" translate="home.subtitle"></h3>
      <div class="d-flex justify-content-center">
        <div class="highlight-section">
          <div class="text-center">
            <div class="research-focus">
              <!--Neonatal (P1 - P6) vs. Postnatal (P7+) Heart Regeneration Capacity:-->
              {{ 'home.research-focus1' | translate }}
              <br />
              <!--Uncovering the molecular drivers of cardiomyocyte proliferation decline-->
              {{ 'home.research-focus2' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3><span translate="home.cite"></span> 
        <a tabindex="0" class="text-mcaredb text-decoration-none" (click)="copyCitation()" role="button"
          data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Copied!">
          <i class="fa fa-copy"></i>
        </a>
      </h3>
      <p>Abcd, E., 2025, https://mcaredb.org/</p>
    </div>
    <!-- Database Features new-->
    <div class="col-12">
      <h3 translate="home.userguide"></h3>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="row">
                <h3 translate="home.genomebrowser"></h3>
                <p class="mb-0" translate="home.gb-description"></p>
              </div>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-lg-8 col-md-12">
                  <div id="carouselExampleCaptions" class="carousel carousel-mcaredb slide"
                    style="border: var(--bs-border-width) solid var(--bs-border-color-translucent); border-radius: var(--bs-border-radius); background: rgba(var(--bs-body-color-bg), .2);">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../../assets/images/genome_browser.png" class="help-image img-fluid mb-3"
                          alt="Genome browser interface">
                        <!--<div class="carousel-caption d-none d-md-block">
                      <h4>How to use IGV</h4>
                      <ol class="text-start">
                        <li>Use the search bar to navigate to a specific gene, or drag on the IGV window to select
                          certain
                          areas. You can view chromatin accessibility (Histone CHIP-seq) and methylation level (WGBS)
                          tracks
                          in IGV.</li>
                        <li>Click "Get Differential Expression Data" to get data of each gene.</li>
                      </ol>
                    </div>-->
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/gene_cards.png" class="help-image img-fluid mb-3"
                          alt="Genome browser interface">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/mapbox.png" class="help-image img-fluid mb-3"
                          alt="Genome browser interface">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden" translate="home.prev"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden" translate="home.next"></span>
                    </button>
                  </div>

                </div>
                <div class="col-lg-4 col-md-12">
                  <h4 translate="home.igv"></h4>
                  <ol>
                    <li translate="home.igv-1"></li>
                    <li translate="home.igv-2"></li>
                  </ol>
                  <h4 translate="home.igv-key.key"></h4>
                  <ul>
                    <li translate="home.igv-key.d1"></li>
                    <li translate="home.igv-key.d2"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="row">
                <h3 translate="home.pathway.title"></h3>
                <p class="mb-0" translate="home.pathway.subtitle"></p>
              </div>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <img src="../../../assets/images/go_enrichment.png" class="help-image img-fluid"
                    alt="Pathway analysis interface">
                </div>
                <div class="col-md-6 col-sm-12">
                  <h4 translate="home.pathway.card.t1"></h4>
                  <ul>
                    <li translate="home.pathway.card.d1"></li>
                    <li translate="home.pathway.card.d2"></li>
                    <li translate="home.pathway.card.d3"></li>
                    <li translate="home.pathway.card.d4"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="row">
                <h3 translate="home.download.title"></h3>
                <p class="mb-1" translate="home.download.subtitle"></p>
              </div>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <img src="../../../assets/images/search_download.png" class="help-image img-fluid"
                    alt="Data download interface">
                </div>
                <div class="col-md-6 col-sm-12">
                  <h4 translate="home.download.card.t1"></h4>
                  <ul>
                    <li translate="home.download.card.d1"></li>
                    <li translate="home.download.card.d2"></li>
                    <li translate="home.download.card.d3"></li>
                  </ul>
                  <h4 translate="home.download.card.t2"></h4>
                  <table class="table">
                    <tr>
                      <th translate="home.download.card.r1c1"></th>
                      <th translate="home.download.card.r1c2"></th>
                      <th translate="home.download.card.r1c3"></th>
                    </tr>
                    <tr>
                      <td translate="home.download.card.r2c1"></td>
                      <td>CSV, XLSX</td>
                      <td translate="home.download.card.r2c3"></td>
                    </tr>
                    <tr>
                      <td translate="home.download.card.r3c1"></td>
                      <td>H5AD</td>
                      <td translate="home.download.card.r3c3"></td>
                    </tr>
                    <tr>
                      <td translate="home.download.card.r4c1"></td>
                      <td>JSON, PNG</td>
                      <td translate="home.download.card.r4c3"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Age Comparison Visual (placeholder) -->
    <div class="col-12 mt-3">
      <h3 translate="home.legend.title"></h3>
      <div class="row g-2">
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <h5 class="card-header text-bg-success text-center" translate="home.legend.neonatal.title"></h5>
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 163">
                <g>
                  <path
                    d="M 10 30 C 8 60 0 70 0 90 Q 0 100 10 110 C 10 100 33 80 35 70 C 38 80 13 100 12 112 C 12 138 42 163 76 163 C 97 163 125 123 118 96 C 119 78 119 69 106 64 C 97 73 98 78 99 86 C 89 76 102 59 123 45 C 129 41 122 30 117 33 C 110 37 104 38 95 49 C 88 47 77 43 74 63 C 73 67 70 66 71 63 C 74 43 84 43 94 45 C 99 39 102 37 106 35 C 105 29 101 25 95 22 C 95 15 96 10 98 4 C 99 1 86 -2 85 2 C 83 7 82 11 82 16 C 82 21 72 18 73 15 C 74 11 75 6 75 3 C 75 -1 63 -1 63 3 C 63 7 63 11 62 15 C 61 19 53 18 52 15 C 51 12 50 7 50 3 C 50 -1 38 -1 39 3 C 41 10 41 14 41 19 C 41 27 24 30 29 58 Q 27 57 23 57 Q 24 56 27 56 C 26 50 24 40 30 30 C 33 25 10 25 10 30 Z"
                    fill="#d54040" />
                  <path d="M 12 112 C 12 138 42 163 76 163 C 92 163 86 119 59 99 C 40 85 13 100 12 112 Z"
                    fill="#d54040" />
                </g>
                <g transform="translate(374.7, 0)">
                  <path
                    d="M 10 30 C 8 60 0 70 0 90 Q 0 100 10 110 C 10 100 33 80 35 70 C 38 80 13 100 12 112 C 12 138 42 163 76 163 C 97 163 125 123 118 96 C 119 78 119 69 106 64 C 97 73 98 78 99 86 C 89 76 102 59 123 45 C 129 41 122 30 117 33 C 110 37 104 38 95 49 C 88 47 77 43 74 63 C 73 67 70 66 71 63 C 74 43 84 43 94 45 C 99 39 102 37 106 35 C 105 29 101 25 95 22 C 95 15 96 10 98 4 C 99 1 86 -2 85 2 C 83 7 82 11 82 16 C 82 21 72 18 73 15 C 74 11 75 6 75 3 C 75 -1 63 -1 63 3 C 63 7 63 11 62 15 C 61 19 53 18 52 15 C 51 12 50 7 50 3 C 50 -1 38 -1 39 3 C 41 10 41 14 41 19 C 41 27 24 30 29 58 Q 27 57 23 57 Q 24 56 27 56 C 26 50 24 40 30 30 C 33 25 10 25 10 30 Z"
                    fill="#d54040" />
                  <path d="M 12 112 C 12 138 42 163 76 163 C 92 163 86 119 59 99 C 40 85 13 100 12 112 Z"
                    fill="#8c1d1d" />
                </g>
                <path d="M 150 80 L 340 80 340 75 350 82 340 89 340 84 150 84 150 80 Z" fill="currentColor" />
                <path d="M 248 80 L 248 60 C 248 58 252 58 252 60 L 252 80 248 80 Z" fill="currentColor" />
                <text x="270" y="20" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.neonatal.mi1"></text>
                <text x="270" y="40" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.neonatal.mi2"></text>
                <g transform="translate(180, 15) scale(0.2 0.2)" text-anchor="">
                  <path
                    d="M 10 30 C 8 60 0 70 0 90 Q 0 100 10 110 C 10 100 33 80 35 70 C 38 80 13 100 12 112 C 12 138 42 163 76 163 C 97 163 125 123 118 96 C 119 78 119 69 106 64 C 97 73 98 78 99 86 C 89 76 102 59 123 45 C 129 41 122 30 117 33 C 110 37 104 38 95 49 C 88 47 77 43 74 63 C 73 67 70 66 71 63 C 74 43 84 43 94 45 C 99 39 102 37 106 35 C 105 29 101 25 95 22 C 95 15 96 10 98 4 C 99 1 86 -2 85 2 C 83 7 82 11 82 16 C 82 21 72 18 73 15 C 74 11 75 6 75 3 C 75 -1 63 -1 63 3 C 63 7 63 11 62 15 C 61 19 53 18 52 15 C 51 12 50 7 50 3 C 50 -1 38 -1 39 3 C 41 10 41 14 41 19 C 41 27 24 30 29 58 Q 27 57 23 57 Q 24 56 27 56 C 26 50 24 40 30 30 C 33 25 10 25 10 30 Z"
                    fill="#d54040" />
                  <path d="M 12 112 C 12 138 42 163 76 163 C 92 163 86 119 59 99 C 40 85 13 100 12 112 Z" fill="#d54040"
                    stroke="currentColor" stroke-dasharray="5" stroke-width="5" />
                </g>
                <text x="250" y="110" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.neonatal.d"></text>
                <text x="250" y="130" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.neonatal.capacity"></text>
                <g transform="translate(210,15) scale(0.2, 0.2) rotate(15)">
                  <path d="M 40 0 L 0 50 20 60 0 100 40 50 20 40 40 0 Z" fill="#DADA00" />
                </g>
                <g transform="translate(218,30) scale(0.2, 0.2) rotate(45)">
                  <path d="M 40 0 L 0 50 20 60 0 100 40 50 20 40 40 0 Z" fill="#DADA00" />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <h5 class="card-header text-bg-secondary text-center" translate="home.legend.postnatal.title"></h5>
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 163">
                <g>
                  <path
                    d="M 10 30 C 8 60 0 70 0 90 Q 0 100 10 110 C 10 100 33 80 35 70 C 38 80 13 100 12 112 C 12 138 42 163 76 163 C 97 163 125 123 118 96 C 119 78 119 69 106 64 C 97 73 98 78 99 86 C 89 76 102 59 123 45 C 129 41 122 30 117 33 C 110 37 104 38 95 49 C 88 47 77 43 74 63 C 73 67 70 66 71 63 C 74 43 84 43 94 45 C 99 39 102 37 106 35 C 105 29 101 25 95 22 C 95 15 96 10 98 4 C 99 1 86 -2 85 2 C 83 7 82 11 82 16 C 82 21 72 18 73 15 C 74 11 75 6 75 3 C 75 -1 63 -1 63 3 C 63 7 63 11 62 15 C 61 19 53 18 52 15 C 51 12 50 7 50 3 C 50 -1 38 -1 39 3 C 41 10 41 14 41 19 C 41 27 24 30 29 58 Q 27 57 23 57 Q 24 56 27 56 C 26 50 24 40 30 30 C 33 25 10 25 10 30 Z"
                    fill="#d54040" />
                  <path d="M 12 112 C 12 138 42 163 76 163 C 92 163 86 119 59 99 C 40 85 13 100 12 112 Z"
                    fill="#d54040" />
                </g>
                <g transform="translate(374.7, 0)">
                  <path
                    d="M 10 30 C 8 60 0 70 0 90 Q 0 100 10 110 C 10 100 33 80 35 70 C 38 80 13 100 12 112 C 12 138 42 163 76 163 C 97 163 125 123 118 96 C 119 78 119 69 106 64 C 97 73 98 78 99 86 C 89 76 102 59 123 45 C 129 41 122 30 117 33 C 110 37 104 38 95 49 C 88 47 77 43 74 63 C 73 67 70 66 71 63 C 74 43 84 43 94 45 C 99 39 102 37 106 35 C 105 29 101 25 95 22 C 95 15 96 10 98 4 C 99 1 86 -2 85 2 C 83 7 82 11 82 16 C 82 21 72 18 73 15 C 74 11 75 6 75 3 C 75 -1 63 -1 63 3 C 63 7 63 11 62 15 C 61 19 53 18 52 15 C 51 12 50 7 50 3 C 50 -1 38 -1 39 3 C 41 10 41 14 41 19 C 41 27 24 30 29 58 Q 27 57 23 57 Q 24 56 27 56 C 26 50 24 40 30 30 C 33 25 10 25 10 30 Z"
                    fill="#d54040" />
                  <path d="M 12 112 C 12 138 42 163 76 163 C 92 163 86 119 59 99 C 40 85 13 100 12 112 Z"
                    fill="#636363" />
                </g>
                <path d="M 150 80 L 340 80 340 75 350 82 340 89 340 84 150 84 150 80 Z" fill="currentColor" />
                <path d="M 248 80 L 248 60 C 248 58 252 58 252 60 L 252 80 248 80 Z" fill="currentColor" />
                <text x="270" y="20" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.postnatal.mi1"></text>
                <text x="270" y="40" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.postnatal.mi2"></text>
                <g transform="translate(180, 15) scale(0.2 0.2)" text-anchor="">
                  <path
                    d="M 10 30 C 8 60 0 70 0 90 Q 0 100 10 110 C 10 100 33 80 35 70 C 38 80 13 100 12 112 C 12 138 42 163 76 163 C 97 163 125 123 118 96 C 119 78 119 69 106 64 C 97 73 98 78 99 86 C 89 76 102 59 123 45 C 129 41 122 30 117 33 C 110 37 104 38 95 49 C 88 47 77 43 74 63 C 73 67 70 66 71 63 C 74 43 84 43 94 45 C 99 39 102 37 106 35 C 105 29 101 25 95 22 C 95 15 96 10 98 4 C 99 1 86 -2 85 2 C 83 7 82 11 82 16 C 82 21 72 18 73 15 C 74 11 75 6 75 3 C 75 -1 63 -1 63 3 C 63 7 63 11 62 15 C 61 19 53 18 52 15 C 51 12 50 7 50 3 C 50 -1 38 -1 39 3 C 41 10 41 14 41 19 C 41 27 24 30 29 58 Q 27 57 23 57 Q 24 56 27 56 C 26 50 24 40 30 30 C 33 25 10 25 10 30 Z"
                    fill="#d54040" />
                  <path d="M 12 112 C 12 138 42 163 76 163 C 92 163 86 119 59 99 C 40 85 13 100 12 112 Z" fill="#d54040"
                    stroke="currentColor" stroke-dasharray="5" stroke-width="5" />
                </g>
                <text x="250" y="110" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.postnatal.d"></text>
                <text x="250" y="130" alignment-baseline="central" text-anchor="middle" font-family="inherit"
                  fill="currentColor" translate="home.legend.postnatal.capacity"></text>
                <g transform="translate(210,15) scale(0.2, 0.2) rotate(15)">
                  <path d="M 40 0 L 0 50 20 60 0 100 40 50 20 40 40 0 Z" fill="#DADA00" />
                </g>
                <g transform="translate(218,30) scale(0.2, 0.2) rotate(45)">
                  <path d="M 40 0 L 0 50 20 60 0 100 40 50 20 40 40 0 Z" fill="#DADA00" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <h3 translate="home.ref.title"></h3>
      <div class="row g-2">
        <div class="col-md-6 col-sm-12">
          <h5 translate="home.ref.data"></h5>
          <p class="apa-citation">Cui, M., Atmanli, A., Morales, M. G., Tan, W., Chen, K., Xiao, X., Xu, L., Liu, N.,
            Bassel-Duby, R., & Olson, E. N. (2021). Nrf1 promotes heart regeneration and repair by regulating
            proteostasis
            and redox balance. <i>Nature Communications, 12</i>, 5270. <a
              href="https://doi.org/10.1038/s41467-021-25653-w"
              target="_blank">https://doi.org/10.1038/s41467-021-25653-w</a></p>
          <!--apa-citation style will give you .5in left margin and -.5in indentation-->
          <p class="apa-citation">Wang, Z., Cui, M., Shah, A. M., Tan, W., Liu, N., Bassel-Duby, R., & Olson, E. N.
            (2020). Cell-Type-Specific Gene Regulatory Networks Underlying Murine Neonatal Heart Regeneration at
            Single-Cell Resolution. <i>Cell Reports, 33</i>(10), 108472. <a
              href="https://doi.org/10.1016/j.celrep.2020.108472"
              target="_blank">https://doi.org/10.1016/j.celrep.2020.108472</a>
          </p>
          <p class="apa-citation">Li, R. G., Li, X., Morikawa, Y., Grisanti-Canozo, F. J., Meng, F., Tsai, C.-R., Zhao,
            Y.,
            Liu, L., Kim, J., Xie, B., Klysik, E., Liu, S., Samee, M. A. H., & Martin, J. F. (2024). YAP induces a
            neonatal-like pro-renewal niche in the adult heart. <i>Nature Cardiovascular Research</i>, 1–18. <a
              href="https://doi.org/10.1038/s44161-024-00428-w"
              target="_blank">https://doi.org/10.1038/s44161-024-00428-w</a></p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h5 translate="home.ref.software"></h5>
          <!--List all frameworks here-->
          <ul>
            <li><b><a href="https://getbootstrap.com" target="_blank">Bootstrap v5.3</a></b> - MIT license</li>
            <li><b><a href="https://angular.dev" target="_blank">Angular</a></b> - MIT license</li>
            <li><b><a href="https://nodejs.org/en" target="_blank">Node.js</a></b> - MIT license</li>
            <li><b><a href="https://dev.mysql.com" target="_blank">MySQL</a></b> - GPLv2</li>
          </ul>
          <p class="apa-citation">Robinson, J. T., Thorvaldsdottir, H., Turner, D., & Mesirov, J. P. (2022). igv.js: an embeddable JavaScript implementation of the Integrative Genomics Viewer (IGV). <i>Bioinformatics, 39</i>(1). <a href="https://doi.org/10.1093/bioinformatics/btac830" target="_blank">https://doi.org/10.1093/bioinformatics/btac830</a></p>
        </div>
      </div>
    </div>
  </div>
</div>