<div class="row g-2">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h2 id="1-2506-50-0-25-june-2025" class="p-0 m-0">{{ Version }}</h2>
            <small class="text-muted">
                <i class="fa fa-clock"></i> {{ CompileDate }}
            </small>
        </div>
        <p class="text-muted">This is a pre-release version.</p>
        <h3 id="new-features">New Features</h3>
        <ul>
            <li>
                <p><strong>Pathway browser</strong>: We added a pathway button in <code>Pathway Enrichment</code> page
                    which is linked to <code>biocyc.org</code> for GO or <code>kegg.jp</code> for KEGG.</p>
            </li>
            <li>
                <p><strong>Searching multiple genes</strong>: You can now perform searching DEG data for multiple genes,
                    even they aren&#39;t on the same chromosome.</p>
            </li>
        </ul>
        <h3 id="fixed-issues">Fixed Issues</h3>
        <ul>
            <li>Now you can run DEG searching without always receiving <code>Too many or too few genes selected</code>.
                This is because you have to run it after <code>igv.esm.js</code> loaded. Now, the buttons are disabled
                before it is completely loaded.</li>
        </ul>
        <h3 id="known-issues">Known Issues</h3>
        <ul>
            <li>When you switch between tabs in <code>Genome Browser</code>, you may see the IGV control disappeared.
                Simply refresh the webpage to get it back.</li>
        </ul>
        <h3 id="miscellaneous">Miscellaneous</h3>
        <ul>
            <li>
                <p>Ensembl IDs will be shown in default for DEG results.</p>
            </li>
            <li>
                <p>We refreshed some controls in <code>igv.esm.js</code> in order to fit the design themes.</p>
            </li>
        </ul>

        <p class="mb-0">See full version history on <a href="https://github.com/AnthonyShea/MouseHeartDatabase"
                target="_blank">GitHub</a>.</p>
    </div>
</div>