<div class="row g-2">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h2>{{ Version }} </h2>
            <small class="text-muted">({{ Branch }}.{{ CompileDate }})</small>
        </div>
        <!--<p class="text-muted">This is a pre-release version.</p>-->
        <h3 id="new-features">New Features</h3>
        <ul>
            <li>
                <p><strong>Gene Expression</strong>: In this page you can view how genes expressed differently across
                    conditions through a box plot. You can add multiple genes with separated conditions to compare, and
                    you may be able to select which column(s) you want to show or hide.</p>
            </li>
            <li>
                <p><strong>Documentation</strong>: This page gives you a summary of the experimental, statistical and
                    cellular terminology.</p>
            </li>
        </ul>
        <h3 id="miscellaneous">Miscellaneous</h3>
        <ul>
            <li>
                <p>We add a NES cutoff selector in the Pathway Enrichment page. This will show a cutoff line in the
                    central chart.</p>
            </li>
            <li>
                <p>We temporarily disabled multi language mode since the translation is still incomplete.</p>
            </li>
        </ul>
        <p class="mb-0">See full version history on <a href="https://github.com/AnthonyShea/MouseHeartDatabase"
                target="_blank">GitHub</a>.</p>
    </div>
</div>