.igv{
    width: 100%;
    padding-top: 10px;
}

.flex-container {
    display: flex;
    margin-bottom: 4px;
}

.flex-child {
    flex: 1;
} 

.legend {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Adjust the background color as needed */
    padding: 0px; /* Add padding for spacing */
  }

  .legend span {
    margin: 10px; /* Adjust the right margin as needed */
    font-weight: 700;
    font-size: 20;
  }
  

.button{
    min-height: 35px;
    background-color: #D8C385;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
    margin: 2px;
    width: 10%;
}

.center-button {
    text-align: center;
    width: 25%;
    margin: 2px auto;
    min-height: 35px;
    background-color: #D8C385;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
  }

.get-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.button:active {
    background-color: #CEB464;
    transform: translateY(4px);
  }

  .button:hover{
    background-color: #CEB464;
  }

  .search-results {
    position: relative;
}

.search-results.searching {
    pointer-events: none; /* Prevent clicks on elements underneath */
}

.selectbox-title{
  color: #E98074;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 5px;
}

.content-wrapper {
  position: relative; /* Establishes a reference point for absolute positioning */
  /* Optional: ensure this container takes up the full viewport height if needed */
  min-height: 100vh;
}

.loading-overlay {
  position: fixed;
  /* Positioned relative to the parent component */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bs-body-bg-rgb), .5);
  /* Semi-transparent background */
  display: flex;
  /* Center the loading message */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure it covers all content within the parent component */
}

.loading-overlay > .spinner-blurred {
  background: rgba(var(--bs-body-color-rgb), .2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 10000;
  border-radius: var(--bs-border-radius-xl);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  box-shadow: var(--bs-box-shadow);
}

/* Define pulsing animation */
@keyframes pulse {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

/* Loading message style */
.loading-message {
  color: #fff;      /* White text */
  font-size: 40px;   /* Larger text */
  font-weight: bold;
  animation: pulse 1.5s infinite; /* Apply the pulsing animation */
}

.dx-accordion-item-title {
  padding: 0px !important;
}

.dx-state-focused.dx-accordion-item, .dx-state-focused.dx-item-selected.dx-accordion-item-opened {
  border: 0px !important;
}

.input-group-text.emphasize {
  background: var(--bs-warning);

}

.dx-texteditor.dx-editor-outlined {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-body-color);
  border-radius: var(--bs-border-radius);
}

@media (min-width: 768px) {
    .sidebar-sticky-top {
        position: sticky;
        top: 0;
    }
}