.igv {
  width: 100%;
  padding-top: 10px;
}

.flex-container {
  display: flex;
  margin-bottom: 4px;
}

.flex-child {
  flex: 1;
}

.legend {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  /* Adjust the background color as needed */
  padding: 0px;
  /* Add padding for spacing */
}

.legend span {
  margin: 10px;
  /* Adjust the right margin as needed */
  font-weight: 700;
  font-size: 20;
}


.button {
  min-height: 35px;
  background-color: #D8C385;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px #999;
  margin: 2px;
  width: 10%;
}

.center-button {
  text-align: center;
  width: 25%;
  margin: 2px auto;
  min-height: 35px;
  background-color: #D8C385;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px #999;
}

.get-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button:active {
  background-color: #CEB464;
  transform: translateY(4px);
}

.button:hover {
  background-color: #CEB464;
}

.search-results {
  position: relative;
}

.search-results.searching {
  pointer-events: none;
  /* Prevent clicks on elements underneath */
}

.selectbox-title {
  color: #E98074;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 5px;
}

.content-wrapper {
  position: relative;
  /* Establishes a reference point for absolute positioning */
  /* Optional: ensure this container takes up the full viewport height if needed */
  min-height: 100vh;
}

.loading-overlay {
  position: fixed;
  /* Positioned relative to the parent component */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bs-body-bg-rgb), .5);
  /* Semi-transparent background */
  display: flex;
  /* Center the loading message */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure it covers all content within the parent component */
}

.loading-overlay>.spinner-blurred {
  background: rgba(var(--bs-body-color-rgb), .2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 10000;
  border-radius: var(--bs-border-radius-xl);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  box-shadow: var(--bs-box-shadow);
}

/* Define pulsing animation */
@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Loading message style */
.loading-message {
  color: #fff;
  /* White text */
  font-size: 40px;
  /* Larger text */
  font-weight: bold;
  animation: pulse 1.5s infinite;
  /* Apply the pulsing animation */
}

.dx-accordion-item-title {
  padding: 0px !important;
}

.dx-state-focused.dx-accordion-item,
.dx-state-focused.dx-item-selected.dx-accordion-item-opened {
  border: 0px !important;
}

.input-group-text.emphasize {
  background: var(--bs-warning);

}

.dx-texteditor.dx-editor-outlined {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-body-color);
  border-radius: var(--bs-border-radius);
}

@media (min-width: 768px) {
  .sidebar-sticky-top {
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

::ng-deep .ng-select-container {
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  padding: .375rem .75rem !important;
  border-radius: var(--bs-border-radius) !important;
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  display: block;
  width: 100%;
}

::ng-deep .ng-input>input {
  color: var(--bs-body-color) !important;
  font-family: var(--bs-body-font-family) !important;
  font-size: var(--bs-body-font-size) !important;
  font-weight: var(--bs-body-font-weight) !important;
}

::ng-deep .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
}

::ng-deep .ng-arrow-wrapper,
::ng-deep .ng-clear {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}

::ng-deep .ng-clear-wrapper {
  width: 1rem !important;
  height: 1rem !important;
  background-color: var(--bs-danger) !important;
  border-radius: 50% !important;
  right: 0px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

::ng-deep .ng-dropdown-panel .scroll-host {
  border-radius: var(--bs-border-radius) !important;
  border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
  box-shadow: var(--bs-shadow-box) !important;
  background-color: var(--bs-body-bg) !important;
}

::ng-deep .ng-dropdown-panel.ng-select-bottom {
  border: none !important;
  background-color: transparent !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: transparent !important;
  color: var(--bs-body-color) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:first-child {
  border-top-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
  border-top-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child {
  border-bottom-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
  border-bottom-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
  background-color: rgba(var(--bs-body-color-rgb), .1) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:focus,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:active {
  background-color: rgba(var(--bs-body-color-rgb), .2) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option * {
  cursor: pointer !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-bottom: 0px !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-top: 0px !important;
  margin-right: .25rem !important;
  background-color: rgba(var(--bs-body-color-rgb), .2) !important;
  font-size: 0.9rem !important;
  padding: .05rem !important;
  border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
  border-radius: var(--bs-border-radius) !important;
  color: var(--bs-body-color) !important;
  display: flex !important;
  align-items: center;
}

::ng-deep .ng-select-focused>div.ng-select-container {
  border-color: rgb(187, 45, 116) !important;
  outline: 0px !important;
  box-shadow: rgba(219, 119, 169, 0.592) 0px 0px 0px 0.25rem !important;

}

::ng-deep .ng-placeholder {
  color: darkgray !important;
  font-size: 1rem !important;
  padding: 0px !important;
  margin-top: -0.75rem !important;
  margin-left: 0 !important
}

::ng-deep .ng-select-container label {
  text-overflow: ellipsis !important;
}

::ng-deep .ng-dropdown-panel {
  background-color: transparent !important;
}

::ng-deep .ng-dropdown-panel {
  z-index: 99999 !important;
}

::ng-deep .ng-clear-wrapper::after {
  content: "";
  display: flex;
  width: .5rem;
  height: .5rem;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 460.775 460.775' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.maps .nav-link.active::after {
  display: flex;
  position: absolute;
  bottom: calc(0px - var(--bs-border-width));
  height: .25rem;
  content: ' ';
  background-color: var(--bs-pink);
  width: 1rem;
  border-radius: .125rem;
  transition: .1s ease-in-out;
}

.maps .nav-link.active:focus::after,
.maps .nav-link.active:active::after {
  display: flex;
  position: absolute;
  bottom: calc(0px - var(--bs-border-width));
  height: .25rem;
  content: ' ';
  background-color: var(--bs-pink);
  width: .75rem;
  border-radius: .125rem;
}

.maps .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: .5rem;
  cursor: pointer;
  text-align: center;
  padding-right: .5rem;
  border: var(--bs-border-width) solid transparent;
  border-radius: var(--bs-border-radius);
}

.maps .nav-link.active {
  box-shadow: var(--bs-box-shadow);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
  background-color: rgba(var(--bs-pink-rgb), 0.2);
  transition: .1s ease-in-out;
}

.maps .navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.maps .navbar-nav {
  gap: .5rem;
}

.genes-interested .accordion-body {
  padding: 0px !important;
}

/*::ng-deep [data-bs-theme=dark] .color-legend {
  filter: invert(1) hue-rotate(180deg);
}*/

.color-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.color-legend > h6 {
  margin: 0;
  font-size: 1rem;
  width: 100%;
  padding: .5rem 1rem;
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  transition: all .2s ease-in-out;
}

.color-legend > h6:focus {
  background-color: rgba(var(--bs-pink-rgb), .2) !important;
}

.color-legend > h6 * {
  display: flex;
  align-items: center;
}

.color-legend > h6 > span {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 1rem;
  justify-content: center;
}

.color-legend > h6 svg, .color-legend > h6 i {
  width: .6rem;
  color: white;
}

.color-legend > h6:first-of-type {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.color-legend > h6:last-of-type {
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
}

.color-legend > h6:not(:last-of-type) {
  border-bottom: 0;
}

.color-legend .sg-dn {
  background-color: rgb(255, 99, 99);
}

.color-legend .sg-dn:hover {
  background-color: rgb(235, 79, 79);
}

.color-legend .sg-dn:focus, .color-legend .sg-dn:active {
  background-color: rgb(215, 59, 59);
}

.color-legend .sl-dn {
  background-color: rgb(157, 136, 0);
}

.color-legend .sl-dn:hover {
  background-color: rgb(137, 116, 0);
}

.color-legend .sl-dn:focus, .color-legend .sl-dn:active {
  background-color: rgb(117, 96, 0);
}

.color-legend .no-cg {
  background-color: rgb(0, 142, 0);
}

.color-legend .no-cg:hover {
  background-color: rgb(0, 122, 0);
}

.color-legend .no-cg:focus, .color-legend .no-cg:active {
  background-color: rgb(0, 102, 0);
}

.color-legend .sl-up {
  background-color: rgb(255, 99, 255);
}

.color-legend .sl-up:hover {
  background-color: rgb(235, 79, 235);
}

.color-legend .sl-up:focus, .color-legend .sl-up:active {
  background-color: rgb(215, 59, 215);
}

.color-legend .sg-up {
  background-color: rgb(99, 99, 255);
}

.color-legend .sg-up:hover {
  background-color: rgb(79, 79, 235);
}

.color-legend .sg-up:focus, .color-legend .sg-up:active {
  background-color: rgb(59, 59, 215);
}

.color-legend .no-ft {
  background-color: rgb(0, 0, 0);
}

.color-legend .no-ft:hover {
  background-color: rgb(20, 20, 20);
}

.color-legend .no-ft:focus, .color-legend .no-ft:active {
  background-color: rgb(40, 40, 40);
}