@if (!query_completed) {
<div class="loading-overlay" id="loadingOverlay">
  <!--<div class="loading-message">Loading...</div>-->
  <div class="spinner-blurred">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
  </div>
</div>
}
<div class="row g-2">
  <div class="col-md-3 col-sm-12">
    <div class="sidebar-sticky-top pt-2" [ngStyle]="{ top: 'var(--navbar-height)' }">
      <h4>File type</h4>
      <ng-select [items]="species" [searchable]="true" [clearable]="true" (change)="onSpeciesChanged($event)"
        placeholder="Select species..." class="mb-2" [selectableGroup]="true" [selectableGroupAsModel]="false"
        [closeOnSelect]="false" [(ngModel)]="selected_species" groupBy="species" [ariaMultiLine]="true" [addTag]="false"
        [multiple]="true">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <div class="form-check">
            <input id="item-{{ index }}" type="checkbox" class="form-check-input" [ngModel]="item$.selected" />
            <label class="form-check-label" for="item-{{index}}">
              {{ item }}
            </label>
          </div>
        </ng-template>
      </ng-select>
      <hr />
      <h4>Cell type</h4>
      <ng-select [items]="cell_types" [searchable]="true" [clearable]="true" (change)="onSpeciesChanged($event)"
        placeholder="Select cell types..." class="mb-2" [selectableGroup]="true" [selectableGroupAsModel]="false"
        [closeOnSelect]="false" [(ngModel)]="selected_cells" groupBy="cell_types" [addTag]="false" [multiple]="true">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <div class="form-check">
            <input id="item-{{ index }}" type="checkbox" class="form-check-input" [ngModel]="item$.selected" />
            <label class="form-check-label" for="item-{{index}}">
              {{ item }}
            </label>
          </div>
        </ng-template>
      </ng-select>
      <hr />
      <h4>PMID</h4>
      <input type="text" placeholder="Optional" class="form-control" aria-describedby="basic-addon1"
        (input)="onInputChange($event)">
      <hr />
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="mb-0">Advanced</h4>
        <a tabindex="0" data-bs-trigger="focus"
          class="btn btn-sm btn-link btn-floating text-body"
          role="button"
          data-bs-toggle="popover"
          data-bs-title="Command Center"
          data-bs-content="Use --[option]=&lt;value&gt; for your customized search.
          Use _ to replace spaces. Use comma or spaces to split your commands.
          For example:
          --cell-type=cardiomyocyte_2, --pmid=34489413">
          <i class="fa fa-info-circle"></i>
        </a>
      </div>
      <textarea class="form-control" placeholder="--comparison=shamvsmi&#10;--group=psd3" (input)="commandChanged($event)"></textarea>
      <hr />
      <!--<h4>Category</h4>
      <div class="row g-1">
        <p class="col-12 text-muted"><small>Highlight these boxes to select categories.</small></p>
        <div class="col-12">
          <input type="checkbox" class="btn-check" (change)="criteriaChanged();" id="btncheck1" autocomplete="off"
            value="neonetal" [(ngModel)]="this.neonatal_selected">
          <label class="btn btn-outline-mcaredb h-100 text-start" style="width: 100%; flex: 1;" for="btncheck1">
            <div class="d-flex align-items-center justify-content-left">
              <i class="fa fa-flask"></i>
              <div class="category-checkbox">
                <h6>Neonatal (P1 -P6)</h6>
                <small>Complete cardiac regeneration capacity</small>
              </div>
            </div>
          </label>
        </div>
        <div class="col-12">
          <input type="checkbox" class="btn-check" (change)="criteriaChanged();" id="btncheck2" autocomplete="off"
            value="postnatal" [(ngModel)]="this.postnatal_selected">
          <label class="btn btn-outline-mcaredb h-100 text-start" style="width: 100%; flex: 1;" for="btncheck2">
            <div class="d-flex align-items-center justify-content-left">
              <i class="fa fa-flask"></i>
              <div class="category-checkbox">
                <h6>Postnatal (P7+)</h6>
                <small>Regenerative potential significantly reduced</small>
              </div>
            </div>
          </label>
        </div>
        <div class="col-12">
          <input type="checkbox" class="btn-check" (change)="criteriaChanged();" id="btncheck3" autocomplete="off"
            value="others" [(ngModel)]="this.others_selected">
          <label class="btn btn-outline-mcaredb h-100 text-start" style="width: 100%; flex: 1;" for="btncheck3">
            <div class="d-flex align-items-center justify-content-left">
              <i class="fa fa-info-circle"></i>
              <div class="category-checkbox">
                <h6>Others (NA)</h6>
                <small>General information about this experiment</small>
              </div>
            </div>
          </label>
        </div>
      </div>
      <hr />-->
      <div class="row g-1">
        <button id="downloadButton" [disabled]="selectedRowKeys.length == 0" class="col-12 btn btn-mcaredb"
          icon="download" (click)="downloadWrapper()">
          <i class="fa fa-download"></i>
          Download Standardized Data
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-sm-12">
    @if (query_completed) {
    <h5>
      @if (selectedRowKeys.length <= 1) { <span>{{selectedRowKeys.length}} File Totaling</span>
        }
        @if (selectedRowKeys.length > 1) {
        <span>{{selectedRowKeys.length}} Files Totaling</span>
        }
        <span>&nbsp;{{downloadSize == null ? "0 Bytes" : downloadSize}} Selected</span>
    </h5>
    <p><small class="text-muted">Downloading multiple or large files requires zipping in the backend side
        which may cause temporary slow down.</small></p>
    <ag-grid-angular class="ag-theme-quartz w-100 h-100" [rowData]="display" [columnDefs]="columnDefs"
      [rowSelection]="'multiple'" [rowMultiSelectWithClick]="true" [suppressRowClickSelection]="true"
      domLayout="autoHeight" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged_New()">
    </ag-grid-angular>
    }
  </div>
</div>