.dx-field-label {
    color: #E98074;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    width: 30%;
}

.dx-field {
    width: 100%;
}

.dx-field-value {
    float: left;
}

.dx-text-box {
    /*position: absolute;*/
    height: 100%;
    width: inherit;
    /*font-size: 20px*/
}

.form {
    flex: 1 0 auto;
    width: 65%;
}

.graphs {
    flex: 1 0 auto;
    width: 35%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}



.test {
    color: #E98074;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    border: solid #8E8D8A 2px;
    margin-right: 5px;
}

::ng-deep .dx-button-text {
    font-size: var(--bs-body-font-size);
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-body-color);
    transition: .2s ease-in-out;
    background: transparent;
}

::ng-deep .dx-buttongroup-item {
    background-color: transparent !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

::ng-deep .dx-buttongroup-item.dx-item-selected {
    background-color: var(--bs-pink) !important;
}

::ng-deep .dx-item-selected .dx-button-text {
    color: white;
}

::ng-deep .dx-button-mode-contained.dx-buttongroup-first-item.dx-button,
.dx-button-mode-contained.dx-buttongroup-first-item.dx-state-hover .dx-button-content,
.dx-button-mode-outlined.dx-buttongroup-first-item.dx-button,
.dx-button-mode-outlined.dx-buttongroup-first-item.dx-state-hover .dx-button-content {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

::ng-deep .dx-button-mode-contained.dx-buttongroup-last-item.dx-button,
.dx-button-mode-contained.dx-buttongroup-last-item.dx-state-hover .dx-button-content,
.dx-button-mode-outlined.dx-buttongroup-last-item.dx-button,
.dx-button-mode-outlined.dx-buttongroup-last-item.dx-state-hover .dx-button-content {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.sampletable {
    background-color: #E98074;
}

.searchbutton {
    color: #E98074;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    border: solid #8E8D8A 2px;
    margin-left: 80px;
    margin-right: 5px;
}

.downloadInfo {
    font-size: 20px;
    margin: 3px;
    text-align: center;
    color: #8E8D8A;
}

/* Adjust the size of the button group */
.large-button-group {}

/* Center the button group horizontally and vertically */
.button-group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Adjust the height of the container as needed */
}

/* Custom CSS with increased specificity and !important */
::ng-deep .button-group-container .dx-button-content .dx-button-text {
    font-size: 25px !important;
}

.input-group-text.emphasize {
    background: var(--bs-warning);

}

.dx-texteditor.dx-editor-outlined {
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    color: var(--bs-body-color);
    border-radius: var(--bs-border-radius);
}

.dx-texteditor-container * {
    color: var(--bs-body-color) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .sidebar-sticky-top {
        position: sticky;
        top: 0;
    }
}

::ng-deep .dx-widget {
    font-family: var(--bs-body-font-family) !important;
}

::ng-deep .dx-datagrid {
    background-color: transparent !important;
}

::ng-deep .dx-page {
    border-radius: var(--bs-border-radius) !important;
    border: var(--bs-border-width) solid transparent !important;
    transition: .1s ease-in-out;
}

::ng-deep .dx-page:hover,
::ng-deep .dx-page.dx-selection {
    background-color: rgba(var(--bs-body-color-rgb), .1) !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

::ng-deep .dx-page:focus,
::ng-deep .dx-page:active {
    background-color: rgba(var(--bs-body-color-rgb), .2) !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

::ng-deep .category-checkbox * {
    margin-bottom: 0px !important;
}

::ng-deep .category-checkbox {
    padding-left: 1rem !important;
}