<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
    [attr.data-bs-target]="'#collapse' + en_id" aria-expanded="false" [attr.aria-controls]="'collapse' + en_id">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="flex-1 mb-0">{{en_id}}</h4>
          <div class="row justify-content-right align-right">
            <span class="text-end text-muted">
              <small>
                @if (completely_loaded) {Clusters Detected: {{ gene_list.length }}}
                @else {&nbsp;} <!--Just to occupy space-->
              </small>
            </span>
            <span class="text-end text-muted">
              <small>
                @if (completely_loaded) {Studies Detected: {{ num_studies }}}
                @else {&nbsp;} <!--Just to occupy space-->
              </small>
            </span>
          </div>
        </div>
      </div>
      <hr />
      <div class="col-md-12 col-lg-3">
        <!-- This part is intentionally empty -->
      </div>
      <div class="col-md-12 col-lg-9">
        <div class="row">
          <div class="col-6 text-center">
            <h4>P1 vs P8</h4>
          </div>
          <div class="col-6 text-center">
            <h4>Sham vs MI</h4>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <h6>Post Surgery Day Sequencing: 1</h6>
      </div>
      <div class="col-md-12 col-lg-9">
        <div class="row">
          <div class="col-3">
            <h3 class="chart-label">Sham</h3>
            <apx-chart [series]="meta_chart_options1_Sham.series!" [chart]="meta_chart_options1_Sham.chart!"
              [plotOptions]="meta_chart_options1_Sham.plotOptions!" [xaxis]="meta_chart_options1_Sham.xaxis!"
              [colors]="meta_chart_options1_Sham.colors!">
            </apx-chart>
          </div>
          <div class="col-3">
            <h3 class="chart-label">MI</h3>
            <apx-chart [series]="meta_chart_options1_MI.series!" [chart]="meta_chart_options1_MI.chart!"
              [plotOptions]="meta_chart_options1_MI.plotOptions!" [xaxis]="meta_chart_options1_MI.xaxis!"
              [colors]="meta_chart_options1_MI.colors!">
            </apx-chart>
          </div>
          <div class="col-3">
            <h3 class="chart-label">P1 + P2</h3>
            <apx-chart [series]="meta_chart_optionsP1_1.series!" [chart]="meta_chart_optionsP1_1.chart!"
              [plotOptions]="meta_chart_optionsP1_1.plotOptions!" [xaxis]="meta_chart_optionsP1_1.xaxis!"
              [colors]="meta_chart_optionsP1_1.colors!">
            </apx-chart>
          </div>
          <div class="col-3">
            <h3 class="chart-label">P8</h3>
            <apx-chart [series]="meta_chart_optionsP8_1.series!" [chart]="meta_chart_optionsP8_1.chart!"
              [plotOptions]="meta_chart_optionsP8_1.plotOptions!" [xaxis]="meta_chart_optionsP8_1.xaxis!"
              [colors]="meta_chart_optionsP8_1.colors!">
            </apx-chart>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <h6>Post Surgery Day Sequencing: 3</h6>
      </div>
      <div class="col-md-12 col-lg-9">
        <div class="row">
          <div class="col-3">
            <h3 class="chart-label">Sham</h3>
            <apx-chart [series]="meta_chart_options3_Sham.series!" [chart]="meta_chart_options3_Sham.chart!"
              [plotOptions]="meta_chart_options3_Sham.plotOptions!" [xaxis]="meta_chart_options3_Sham.xaxis!"
              [colors]="meta_chart_options3_Sham.colors!">
            </apx-chart>
          </div>
          <div class="col-3">
            <h3 class="chart-label">MI</h3>
            <apx-chart [series]="meta_chart_options3_MI.series!" [chart]="meta_chart_options3_MI.chart!"
              [plotOptions]="meta_chart_options3_MI.plotOptions!" [xaxis]="meta_chart_options3_MI.xaxis!"
              [colors]="meta_chart_options3_MI.colors!">
            </apx-chart>
          </div>
          <div class="col-3">
            <h3 class="chart-label">P1 + P2</h3>
            <apx-chart [series]="meta_chart_optionsP1_3.series!" [chart]="meta_chart_optionsP1_3.chart!"
              [plotOptions]="meta_chart_optionsP1_3.plotOptions!" [xaxis]="meta_chart_optionsP1_3.xaxis!"
              [colors]="meta_chart_optionsP1_3.colors!">
            </apx-chart>
          </div>
          <div class="col-3">
            <h3 class="chart-label">P8</h3>
            <apx-chart [series]="meta_chart_optionsP8_3.series!" [chart]="meta_chart_optionsP8_3.chart!"
              [plotOptions]="meta_chart_optionsP8_3.plotOptions!" [xaxis]="meta_chart_optionsP8_3.xaxis!"
              [colors]="meta_chart_optionsP8_3.colors!">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>
  </button>
</h2>
<div [id]="'collapse' + en_id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  @if (!completely_loaded) {
  <div class="accordion-body">
    <p class="text-muted text-center mb-0">Data loading. Click Apply to refresh.</p>
  </div>
  }
  @if (completely_loaded) {
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <p class="text-muted text-center"><small>Clusters with cell type "All Cells" were shown as
            semi-transparent datapoints.</small></p>
      </div>
      <ul class="col-12 navbar-nav maps mb-2">
        <li class="nav-item">
          <a class="nav-link" [class.active]="display=='ShamMI'" (click)="onItemSelected_Nav('ShamMI')">P1 vs P8</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="display=='P1P8'" (click)="onItemSelected_Nav('P1P8')">Sham vs MI</a>
        </li>
      </ul>
      @if (display == 'ShamMI') {
      <div class="row">
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_options1_Sham.series!" [chart]="model_chart_options1_Sham.chart!"
            apexNoMinHeight [plotOptions]="model_chart_options1_Sham.plotOptions!"
            [markers]="model_chart_options1_Sham.markers!" [xaxis]="model_chart_options1_Sham.xaxis!"
            [yaxis]="model_chart_options1_Sham.yaxis!" [title]="model_chart_options1_Sham.title!"
            [tooltip]="model_chart_options1_Sham.tooltip!"
            [annotations]="model_chart_options1_Sham.annotations!"></apx-chart>
        </div>
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_options1_MI.series!" [chart]="model_chart_options1_MI.chart!"
            [plotOptions]="model_chart_options1_MI.plotOptions!" [markers]="model_chart_options1_MI.markers!"
            [xaxis]="model_chart_options1_MI.xaxis!" [yaxis]="model_chart_options1_MI.yaxis!"
            [title]="model_chart_options1_MI.title!" [tooltip]="model_chart_options1_MI.tooltip!"
            [annotations]="model_chart_options1_MI.annotations!"></apx-chart>
        </div>
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_options3_Sham.series!" [chart]="model_chart_options3_Sham.chart!"
            [plotOptions]="model_chart_options3_Sham.plotOptions!" [markers]="model_chart_options3_Sham.markers!"
            [xaxis]="model_chart_options3_Sham.xaxis!" [yaxis]="model_chart_options3_Sham.yaxis!"
            [title]="model_chart_options3_Sham.title!" [tooltip]="model_chart_options3_Sham.tooltip!"
            [annotations]="model_chart_options3_Sham.annotations!"></apx-chart>
        </div>
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_options3_MI.series!" [chart]="model_chart_options3_MI.chart!"
            [plotOptions]="model_chart_options3_MI.plotOptions!" [markers]="model_chart_options3_MI.markers!"
            [xaxis]="model_chart_options3_MI.xaxis!" [yaxis]="model_chart_options3_MI.yaxis!"
            [title]="model_chart_options3_MI.title!" [tooltip]="model_chart_options3_MI.tooltip!"
            [annotations]="model_chart_options3_MI.annotations!"></apx-chart>
        </div>
      </div>
      }
      @if (display == 'P1P8') {
      <div class="row">
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_optionsP1_1.series!" [chart]="model_chart_optionsP1_1.chart!"
            [plotOptions]="model_chart_optionsP1_1.plotOptions!" [markers]="model_chart_optionsP1_1.markers!"
            [xaxis]="model_chart_optionsP1_1.xaxis!" [yaxis]="model_chart_optionsP1_1.yaxis!"
            [title]="model_chart_optionsP1_1.title!" [tooltip]="model_chart_optionsP1_1.tooltip!"
            [annotations]="model_chart_optionsP1_1.annotations!"></apx-chart>
        </div>
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_optionsP8_1.series!" [chart]="model_chart_optionsP8_1.chart!"
            [plotOptions]="model_chart_optionsP8_1.plotOptions!" [markers]="model_chart_optionsP8_1.markers!"
            [xaxis]="model_chart_optionsP8_1.xaxis!" [yaxis]="model_chart_optionsP8_1.yaxis!"
            [title]="model_chart_optionsP8_1.title!" [tooltip]="model_chart_optionsP8_1.tooltip!"
            [annotations]="model_chart_optionsP8_1.annotations!"></apx-chart>
        </div>
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_optionsP1_3.series!" [chart]="model_chart_optionsP1_3.chart!"
            [plotOptions]="model_chart_optionsP1_3.plotOptions!" [markers]="model_chart_optionsP1_3.markers!"
            [xaxis]="model_chart_optionsP1_3.xaxis!" [yaxis]="model_chart_optionsP1_3.yaxis!"
            [title]="model_chart_optionsP1_3.title!" [tooltip]="model_chart_optionsP1_3.tooltip!"
            [annotations]="model_chart_optionsP1_3.annotations!"></apx-chart>
        </div>
        <div class="col-lg-6 col-md-12" style="height: 300px;">
          <apx-chart [series]="model_chart_optionsP8_3.series!" [chart]="model_chart_optionsP8_3.chart!"
            [plotOptions]="model_chart_optionsP8_3.plotOptions!" [markers]="model_chart_optionsP8_3.markers!"
            [xaxis]="model_chart_optionsP8_3.xaxis!" [yaxis]="model_chart_optionsP8_3.yaxis!"
            [title]="model_chart_optionsP8_3.title!" [tooltip]="model_chart_optionsP8_3.tooltip!"
            [annotations]="model_chart_optionsP8_3.annotations!"></apx-chart>
        </div>
      </div>
      }
    </div>
    @if (model_selected) {

    <hr />
    <app-maps [selected_info]="to_map" [en_id]="en_id" class="scaled"></app-maps>
    }
  </div>
  }
</div>