<div class="row g-2">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <div class="row">
        <h4 class="flex-1 mb-0">{{en_id}}</h4>
        <small class="text-muted mb-1">{{ensembl_id}}</small>
      </div>
      <div class="row justify-content-right align-right">
        <span class="text-end text-muted">
          <small>
            @if (completely_loaded) {
            {{'genecard.title.cluster' | translate}}: {{ gene_list.length }}
            }
            @else {&nbsp;} <!--Just to occupy space-->
          </small>
        </span>
        <span class="text-end text-muted">
          <small>
            @if (completely_loaded) {
            {{'genecard.title.study' | translate}}: {{ num_studies }}
            }
            @else {&nbsp;} <!--Just to occupy space-->
          </small>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-md-12 col-lg-3">
    <!-- This part is intentionally empty -->
  </div>
  <div class="col-md-12 col-lg-9">
    <div class="row">
      <div class="col-6 text-center">
        <h4>P1 vs P8</h4>
      </div>
      <div class="col-6 text-center">
        <h4>Sham vs MI</h4>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-3 d-flex">
    <div class="d-flex justify-content-center align-items-center">
      <h6 class="mb-0" translate="genecard.title.psd1"></h6>
    </div>
  </div>
  <div class="col-md-12 col-lg-9">
    <div class="row">
      <div class="col-3">
        <h3 class="chart-label">Sham</h3>
        <!--<apx-chart [series]="meta_chart_options1_Sham.series!" [chart]="meta_chart_options1_Sham.chart!"
              [plotOptions]="meta_chart_options1_Sham.plotOptions!" [xaxis]="meta_chart_options1_Sham.xaxis!"
              [colors]="meta_chart_options1_Sham.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_1_Sham > 40 ? 40 : sum_1_Sham) * 2.5 + '%'">
          @for (item of series_1_Sham; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_1_Sham * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]" placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-3">
        <h3 class="chart-label">MI</h3>
        <!--<apx-chart [series]="meta_chart_options1_MI.series!" [chart]="meta_chart_options1_MI.chart!"
              [plotOptions]="meta_chart_options1_MI.plotOptions!" [xaxis]="meta_chart_options1_MI.xaxis!"
              [colors]="meta_chart_options1_MI.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_1_MI > 40 ? 40 : sum_1_MI) * 2.5 + '%'">
          @for (item of series_1_MI; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_1_MI * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]"  placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-3">
        <h3 class="chart-label">P1 + P2</h3>
        <!--<apx-chart [series]="meta_chart_optionsP1_1.series!" [chart]="meta_chart_optionsP1_1.chart!"
              [plotOptions]="meta_chart_optionsP1_1.plotOptions!" [xaxis]="meta_chart_optionsP1_1.xaxis!"
              [colors]="meta_chart_optionsP1_1.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_1_P1 > 40 ? 40 : sum_1_P1) * 2.5 + '%'">
          @for (item of series_1_P1; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_1_P1 * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]"  placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-3">
        <h3 class="chart-label">P8</h3>
        <!--<apx-chart [series]="meta_chart_optionsP8_1.series!" [chart]="meta_chart_optionsP8_1.chart!"
              [plotOptions]="meta_chart_optionsP8_1.plotOptions!" [xaxis]="meta_chart_optionsP8_1.xaxis!"
              [colors]="meta_chart_optionsP8_1.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_1_P8 > 40 ? 40 : sum_1_P8) * 2.5 + '%'">
          @for (item of series_1_P8; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_1_P8 * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]"  placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-3 d-flex">
    <div class="d-flex justify-content-center align-items-center">
      <h6 class="mb-0" translate="genecard.title.psd3"></h6>
    </div>
  </div>
  <div class="col-md-12 col-lg-9">
    <div class="row">
      <div class="col-3">
        <h3 class="chart-label">Sham</h3>
        <!--<apx-chart [series]="meta_chart_options3_Sham.series!" [chart]="meta_chart_options3_Sham.chart!"
              [plotOptions]="meta_chart_options3_Sham.plotOptions!" [xaxis]="meta_chart_options3_Sham.xaxis!"
              [colors]="meta_chart_options3_Sham.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_3_Sham > 40 ? 40 : sum_3_Sham) * 2.5 + '%'">
          @for (item of series_3_Sham; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_3_Sham * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]"  placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-3">
        <h3 class="chart-label">MI</h3>
        <!--<apx-chart [series]="meta_chart_options3_MI.series!" [chart]="meta_chart_options3_MI.chart!"
              [plotOptions]="meta_chart_options3_MI.plotOptions!" [xaxis]="meta_chart_options3_MI.xaxis!"
              [colors]="meta_chart_options3_MI.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_3_MI > 40 ? 40 : sum_3_MI) * 2.5 + '%'">
          @for (item of series_3_MI; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_3_MI * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]"  placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-3">
        <h3 class="chart-label">P1 + P2</h3>
        <!--<apx-chart [series]="meta_chart_optionsP1_3.series!" [chart]="meta_chart_optionsP1_3.chart!"
              [plotOptions]="meta_chart_optionsP1_3.plotOptions!" [xaxis]="meta_chart_optionsP1_3.xaxis!"
              [colors]="meta_chart_optionsP1_3.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_3_P1 > 40 ? 40 : sum_3_P1) * 2.5 + '%'">
          @for (item of series_3_P1; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_3_P1 * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]"  placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-3">
        <h3 class="chart-label">P8</h3>
        <!--<apx-chart [series]="meta_chart_optionsP8_3.series!" [chart]="meta_chart_optionsP8_3.chart!"
              [plotOptions]="meta_chart_optionsP8_3.plotOptions!" [xaxis]="meta_chart_optionsP8_3.xaxis!"
              [colors]="meta_chart_optionsP8_3.colors!">
            </apx-chart>-->
        <div class="progress-stacked" [style.width]="(sum_3_P8 > 40 ? 40 : sum_3_P8) * 2.5 + '%'">
          @for (item of series_3_P8; track $index; let i = $index) {
          <div class="progress" role="progressbar" [attr.aria-label]="'Segment' + i" aria-valuenow="15"
            aria-valuemin="0" aria-valuemax="100" [style.width]="(item / sum_3_P8 * 100) + '%'">
            <div class="progress-bar" [style.background-color]="progressbar_colors[i]" placement="top" triggers="mouseenter:mouseleave" [ngbPopover]="labels[i] + ': ' + item">
              @if (item >= 2) {
              {{item}}
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>