/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Kameron-Bold';
    src: url('src/assets/Kameron-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('src/assets/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('src/assets/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('src/assets/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('src/assets/RobotoCondensed-Regular.ttf');
}

[data-bs-theme=dark] {
    color: #dee2e6;
}

.igv::part(igv) .igv-gear-menu-column > div {
    background-color: transparent !important;
}

.ng-select-container {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    padding: .375rem .75rem !important;
    border-radius: var(--bs-border-radius) !important;
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    display: block;
    width: 100%;
}

.ng-input>input {
    color: var(--bs-body-color) !important;
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
}

.ng-select-container .ng-value-container {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
}

.ng-arrow-wrapper,
.ng-clear {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

.ng-clear-wrapper {
    width: 1rem !important;
    height: 1rem !important;
    background-color: var(--bs-danger) !important;
    border-radius: 50% !important;
    right: 0px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.ng-clear-wrapper::after {
    content: "";
    display: flex;
    width: .5rem;
    height: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 460.775 460.775' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ng-dropdown-panel .scroll-host {
    border-radius: var(--bs-border-radius) !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
    box-shadow: var(--bs-shadow-box) !important;
    background-color: var(--bs-body-bg) !important;
}

.ng-dropdown-panel.ng-select-bottom {
    border: none !important;
    background-color: transparent !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: transparent !important;
    color: var(--bs-body-color) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:first-child {
    border-top-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
    border-top-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child {
    border-bottom-left-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
    border-bottom-right-radius: calc(var(--bs-border-radius) - var(--bs-border-width)) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: rgba(var(--bs-body-color-rgb), .1) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:focus,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:active {
    background-color: rgba(var(--bs-body-color-rgb), .2) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option * {
    cursor: pointer !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-bottom: 0px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-top: 0px !important;
    margin-right: .25rem !important;
    background-color: rgba(var(--bs-body-color-rgb), .2) !important;
    font-size: 0.9rem !important;
    padding: .05rem !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
    border-radius: var(--bs-border-radius) !important;
    color: var(--bs-body-color) !important;
    display: flex !important;
    align-items: center;
}

.ng-select-container {
    box-shadow: none !important;
}

.ng-select-focused>div.ng-select-container {
    border-color: rgb(187, 45, 116) !important;
    outline: 0px !important;
    box-shadow: rgba(219, 119, 169, 0.592) 0px 0px 0px 0.25rem !important;

}

.ng-select .ng-placeholder {
    color: darkgray !important;
    font-size: 1rem !important;
    padding: 0px !important;
    margin-left: 0 !important
}

.ng-select.ng-select-multiple .ng-placeholder {
    margin-top: -0.75rem !important;
}

.ng-select.ng-select-single .ng-placeholder {
    margin-top: 0 !important;
}

.ng-select-container label {
    text-overflow: ellipsis !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    margin-top: 0px !important;
    margin-right: .25rem !important;
    background-color: transparent !important;
    font-size: 0.9rem !important;
    padding: .05rem !important;
    border: none !important;
    border-radius: 0 !important;
    color: var(--bs-body-color) !important;
    display: flex !important;
    align-items: center;
}

.popover {
    z-index: 9999;
}

.ng-select-single .ng-value-label {
    font-size: 1rem !important;
    padding: 0px !important;
    margin-left: 0 !important;
    background-color: transparent !important;
    color: var(--bs-body-color) !important;
}

/*.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: unset !important;
    margin-top: 0px !important;
}*/

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    margin-top: 0px !important;
}

.ng-select * {
    color: var(--bs-body-color) !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: unset !important
}

.ng-dropdown-panel {
    background-color: transparent !important;
}

