/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Kameron-Bold';
    src: url('src/assets/Kameron-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('src/assets/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('src/assets/RobotoCondensed-BoldItalic.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('src/assets/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('src/assets/RobotoCondensed-Regular.ttf');
}

[data-bs-theme=dark] {
    color: #dee2e6;
}

.igv::part(igv) .igv-gear-menu-column > div {
    background-color: transparent !important;
}

